  - "NFV vCloud POC Archirecture":
    - "ESX Management Cluster":
      - "Host Information":
        - id: mgmt_host_1_fqdn
          name: "ESX Server IP or FQDN"
          optional: 0
        - id: mgmt_host_1_username
          name: "ESX Server username"
          optional: 0
        - id: mgmt_host_1_password
          name: "ESX Server User password"
          optional: 0
          input: password
      - "Host Information":
        - id: mgmt_host_2_fqdn
          name: "ESX Server IP or FQDN"
          optional: 0
        - id: mgmt_host_2_username
          name: "ESX Server username"
          optional: 0
        - id: mgmt_host_2_password
          name: "ESX Server User password"
          optional: 0
          input: password
    - "ESX Edge Cluster":
      - "Host Information":
        - id: edge_host_1_fqdn
          name: "ESX Server IP or FQDN"
          optional: 0
        - id: edge_host_1_username
          name: "ESX Server username"
          optional: 0
        - id: edge_host_1_password
          name: "ESX Server User password"
          optional: 0
          input: password
    - "ESX Resource Cluster":
      - "Host Information":
        - id: res_host_1_fqdn
          name: "ESX Server IP or FQDN"
          optional: 0
        - id: res_host_1_username
          name: "ESX Server username"
          optional: 0
        - id: res_host_1_password
          name: "ESX Server User password"
          optional: 0
          input: password
      - "Host Information":
        - id: res_host_2_fqdn
          name: "ESX Server IP or FQDN"
          optional: 0
        - id: res_host_2_username
          name: "ESX Server username"
          optional: 0
        - id: res_host_2_password
          name: "ESX Server User password"
          optional: 0
          input: password
      - "Host Information":
        - id: res_host_3_fqdn
          name: "ESX Server IP or FQDN"
          optional: 0
        - id: res_host_3_username
          name: "ESX Server username"
          optional: 0
        - id: res_host_3_password
          name: "ESX Server User password"
          optional: 0
          input: password
    - "Management vCenter Server":
      - vCenter Installation:
        - id: vcenter_vm_name
          name: "vCenter Virtual Machine Name"
          optional: 0
          default: "Mgmt-vCenter"
        - id: vcenter_database_type
          name: "vCenter database type"
          optional: 0
          default: "embedded"
        - id: datastore_name
          name: "Datastore to be deployed on"
          optional: 0
          default: &datastore_name
        - id: network_name
          name: "Network to be deployed on"
          optional: 0
        - id: ip_mode
          name: "IP address mode"
          optional: 0
          default: "static"
        - id: vcenter_ip_address
          name: "vCenter IP address"
          optional: 0
        - id: vcenter_ip_gateway
          name: "Gateway address"
          optional: 0
        - id: vcenter_ip_dns
          name: "DNS servers"
          optional: 0
      - PSC Installation:
        - id: psc_vm_name
          name: "PSC Virtual Machine Name"
          optional: 0
          default: "Mgmt-psc"
        - id: psc_database_type
          name: "PSC database type"
          optional: 0
          default: "embedded"
        - id: psc_datastore_name
          name: "Datastore to be deployed on"
          optional: 0
        - id: psc_network_name
          name: "Network to be deployed on"
          optional: 0
        - id: psc_ip_mode
          name: "IP address mode"
          optional: 0
          default: "static"
        - id: psc_ip_address
          name: "PSC IP address"
          optional: 0
        - id: psc_ip_gateway
          name: "Gateway address"
          optional: 0
        - id: psc_ip_dns
          name: "DNS servers"
          optional: 0
      - General vCenter Configuration:
        - id: mgmt_vcenter_fqdn
          name: "vCenter FQDN"
          optional: 0
          default: "mgmt-vcenter.corp.local"
        - id: mgmt_psc_fqdn
          name: "PSC FQDN"
          optional: 0
          default: "mgmt-psc.corp.local"
        - id: mgmt_psc_hostname
          name: "PSC Hostname"
          optional: 0
          default: "mgmt-psc"
        - id: mgmt_vcenter_username
          name: "vCenter user name"
          optional: 0
          default: "administrator@vsphere.local"
        - id: mgmt_vcenter_password
          name: "vCenter user password"
          optional: 0
          input: password
        - id: mgmt_vcenter_port
          name: "vCenter port"
          optional: 0
          default: "443"
        - id: mgmt_vcenter_domain_name
          name: "vCenter domain name"
          optional: 0
          default: "vsphere.local"
        - id: mgmt_vcenter_site_name
          name: "vCenter site name"
          optional: 0
          default: "default-site"
        - id: mgmt_vcenter_deployment_type
          name: "vCenter site name"
          optional: 0
          default: "management-tiny"
      - Logical vCenter Configuration:
        - id: datacenter_name
          name: "Datacenter name"
          optional: 0
          default: &datacenter_name "NFV_MGMT_DC"
          help: "Datacenter name to be created in vCenter inventory."
        - id: cluster_name
          name: "Cluster name"
          optional: 0
          default: &cluster_name "NFV_MGMT_CLUSTER"
          help: "Cluster to be created in the Datacenter."
      - Cluster Configuration - VSAN:
        - id: configure_vsan
          name: "Enable vSAN on cluster"
          input: checkbox
          optional: 0
          default: 0
          help: "Select if vSAN needs to be configured on the Management Cluster"
        - id: vsan_cluster_name
          name: "Cluster name"
          optional: 0
          default: *cluster_name
          help: "Cluster to be configured with vSAN."
        - id: vsan_datastore_name
          name: "vSAN datastore name"
          optional: 0
          default: "NFV_MGMT_VSAN_DS"
          help: "All the added ESXi hosts will be able to see the created vSAN Datastore."
        - id: vsan_autoclaim_storage
          name: "Auto Claim Storage"
          input: checkbox
          optional: 0
          default: 1
          help: "Autoclaims all storage added to cluster"
      - Cluster Configuration - DRS:
        - id: configure_drs
          name: "Enable DRS on cluster"
          input: checkbox
          optional: 0
          default: "1"
          help: "Select if DRS needs to be configured on the Management Cluster"
        - id: drs_cluster_name
          name: "Cluster name"
          optional: 0
          default: *cluster_name
          help: "Cluster to be configured with DRS."
        - id: drs_automation_level
          name: "Automation Level"
          optional: 0
          default: "fullyAutomated"
        - id: drs_migration_threshold
          name: "Migration Threshold"
          optional: 0
          default: "2"
        - id: drs_vm_automation
          name: "Virtual Machine Automation"
          optional: 0
          default: "Disabled"
        - id: drs_power_management
          name: "Power Management"
          optional: 0
          default: "Disabled"
        - id: drs_evc_mode
          name: "Enhanced vMotion Compatibility(EVC)"
          optional: 0
          default: "Enabled"
      - Cluster Configuration - HA:
        - id: configure_ha
          name: "Enable HA on cluster"
          input: checkbox
          optional: 0
          default: "1"
          help: "Select if HA needs to be configured on the Management Cluster"
        - id: ha_cluster_name
          name: "Cluster name"
          optional: 0
          default: *cluster_name
          help: "Cluster to be configured with HA."
        - id: ha_host_monitoring
          name: "Host Monitoring"
          optional: 0
          default: "Enabled"
        - id: ha_admission_control
          name: "Admission Control"
          optional: 0
          default: "Enabled"
        - id: ha_admission_control_policy
          name: "Admission Control Policy"
          optional: 0
          default: "Host failures to tolerate same as Virtual SAN"
        - id: ha_vm_monitoring
          name: "VM Monitoring"
          optional: 0
          default: "Disabled"
        - id: ha_monitoring_sensitivity
          name: "Monitoring Sensitivity"
          optional: 0
          default: "High"
        - id: ha_datastore_heart_beating
          name: "Datastore Heart-beating"
          optional: 0
          default: "Automatically select datastores accessible from the host"
      - VDS Configuration:
        - id: infra_vds_name
          name: "Infrastructure VDS"
          optional: 0
          default: "NFV_MGMT_INFRA_VDS"
          help: "This dvSwitch will be created as the Infrastructure VDS."
        - id: infra_vds_uplink_ports
          name: "UpLink Ports"
          optional: 0
          default: "2"
          help: "Number of physical ethernet ports to act as uplinks for this VDS."
        - id: vmotion_port_group_name
          name: "Port Group - vMotion"
          optional: 0
          default: &vmotion_port_group_name "vDS-vMotionNetwork"
        - id: vmotion_port_group_id
          name: "vLan ID for vMotion Portgroup"
          default: &vmotion_port_group_id "2094"
          optional: 0
        - id: replication_port_group_name
          name: "Port Group - Replication"
          optional: 0
          default: &replication_port_group_name "vDS-vSphereReplication"
        - id: replication_port_group_id
          name: "vLan ID for Replication Portgroup"
          optional: 0
          default: &replication_port_group_id "2096"
        - id: esx_mgmt_port_group_name
          name: "Port Group - ESX Management"
          optional: 0
          default: &esx_mgmt_port_group_name "vDS-ESXiMGMTNetwork"
        - id: esx_mgmt_port_group_id
          name: "vLan ID for ESX Management Portgroup"
          optional: 0
          default: &esx_mgmt_port_group_id "2093"
        - id: vm_network_port_group_name
          name: "Port Group - Management Network"
          optional: 0
          default: &vm_network_port_group_name "vDS-ManagementNetwork"
        - id: vm_network_port_group_id
          name: "vLan ID for VM Network Portgroup"
          optional: 0
          default: &vm_network_port_group_id "2084"
    - "Management NSX Info":
      - "NSX Network Information":
        - id: deployMgmtIpAddress
          name: "NSX Manager IP address"
          optional: 0
        - id: deployMgmtNetmask
          name: "NSX Manager Subnet"
          optional: 0
        - id: deployMgmtDefaultGateway
          name: "NSX Manager Gateway"
          optional: 0
        - id: deployMgmtDnsServer
          name: "NSX Manager DNS server"
          optional: 0
        - id: deployMgmtDnsDomain
          name: "NSX Manager Domain name"
          optional: 0
        - id: deployNtpServers
          name: "NSX Manager NTP server ip address"
          optional: 0
      - "NSX VM Information":
        - id: deployVmName
          name: "NSX Manager Host Name"
          optional: 0
          default: "Mgmt-nsx"
        - id: nsxCliPass
          name: "NSX Manager cli password"
          optional: 0
          input: password
        - id: nsxEnPass
          name: "NSX Manager enable password"
          optional: 0
          input: password

      - "NSX Edge Services Gateway":
        - id: mgmt_edge_service_gateway_name
          name: "Edge Service Gateway name"
          optional: 0
        - id: mgmt_edge_service_gateway_desc
          name: "Edge Router description"
          optional: 0
          default: "Management Edge Services Gateway"
        - id: mgmt_edge_vnic_index
          name: "Mgmt Edge Router internal VNIC Index"
          optional: 0
          default: 0
        - id: mgmt_edge_vnic_name
          name: "Mgmt Internal VNIC Name"
          optional: 0
          default: vnic0
        - id: mgmt_edge_Switch_name
          name: "Mgmt Edge Internal Switch Name"
          optional: 0
          help: Uplink Switch name of DLR
        - id: mgmt_edge_Switch_ip_address
          name: "Mgmt Edge Internal Switch IP Address"
          optional: 0
          default: 192.168.200.1
        - id: mgmt_edge_Switch_subnet_prefix
          name: "Mgmt Edge Internal Switch Subnet Prefix"
          optional: 0
          default: 24
        - id: mgmt_edge_uplink_vnic_index
          name: "Mgmt Edge Router Uplink VNIC Index"
          optional: 0
          default: 1
        - id: mgmt_edge_uplink_vnic_name
          name: "Mgmt EdgeUplink VNIC Name"
          optional: 0
          default: vnic1
        - id: mgmt_edge_uplink_switch_name
          name: "Mgmt Edge Uplink Switch Name"
          optional: 0
        - id: mgmt_edge_uplink_switch_ip_address
          name: "Mgmt Edge Uplink Switch IP Address"
          optional: 0
        - id: mgmt_edge_uplink_subnet_prefix
          name: "Mgmt Edge Uplink Switch Subnet Prefix"
          optional: 0


    - "Resource vCenter Server":
      - vCenter Installation:
        - id: res_vcenter_vm_name
          name: "vCenter Virtual Machine Name"
          optional: 0
          default: &res_vcenter_vm_name "Res-vCenter"
        - id: res_vcenter_database_type
          name: "vCenter database type"
          optional: 0
          default: "embedded"
        - id: res_datastore_name
          name: "Datastore to be deployed on"
          optional: 0
        - id: res_network_name
          name: "Network to be deployed on"
          optional: 0
        - id: res_ip_mode
          name: "IP address mode"
          optional: 0
          default: "static"
        - id: res_vcenter_ip_address
          name: "vCenter IP address"
          optional: 0
          default: &res_vcenter_ip_address
        - id: res_vcenter_ip_gateway
          name: "Gateway address"
          optional: 0
        - id: res_vcenter_ip_dns
          name: "DNS servers"
          optional: 0
      - PSC Installation:
        - id: res_psc_vm_name
          name: "PSC Virtual Machine Name"
          optional: 0
          default: "Res-psc"
        - id: res_psc_database_type
          name: "PSC database type"
          optional: 0
          default: "embedded"
        - id: res_psc_datastore_name
          name: "Datastore to be deployed on"
          optional: 0
        - id: res_psc_network_name
          name: "Network to be deployed on"
          optional: 0
        - id: res_psc_ip_mode
          name: "IP address mode"
          optional: 0
          default: "static"
        - id: res_psc_ip_address
          name: "PSC IP address"
          optional: 0
        - id: res_psc_ip_gateway
          name: "Gateway address"
          optional: 0
        - id: res_psc_ip_dns
          name: "DNS servers"
          optional: 0
      - General vCenter Configuration:
        - id: res_vcenter_fqdn
          name: "vCenter FQDN"
          optional: 0
          default: &res_vcenter_fqdn "res-vcenter.corp.local"
        - id: res_psc_fqdn
          name: "PSC FQDN"
          optional: 0
          default: "res-psc.corp.local"
        - id: res_psc_hostname
          name: "PSC Hostname"
          optional: 0
          default: "res-psc"
        - id: res_vcenter_username
          name: "vCenter user name"
          optional: 0
          default: &res_vcenter_username "administrator@vsphere.local"
        - id: res_vcenter_password
          name: "vCenter user password"
          optional: 0
          input: password
        - id: res_vcenter_port
          name: "vCenter port"
          optional: 0
          default: "443"
        - id: res_vcenter_domain_name
          name: "vCenter domain name"
          optional: 0
          default: "vsphere.local"
        - id: res_vcenter_site_name
          name: "vCenter site name"
          optional: 0
          default: "default-site"
        - id: res_vcenter_deployment_type
          name: "vCenter site name"
          optional: 0
          default: "management-tiny"
      - Logical vCenter Configuration:
        - id: res_datacenter_name
          name: "Datacenter name"
          optional: 0
          default: &res_datacenter_name "NFV_RES_DC"
          help: "Datacenter name to be created in vCenter inventory."
        - id: res_cluster_name
          name: "Cluster name"
          optional: 0
          default: &res_cluster_name "NFV_RES_CLUSTER"
          help: "Cluster to be created in the Datacenter."
      - Cluster Configuration - VSAN:
        - id: res_configure_vsan
          name: "Enable vSAN on cluster"
          input: checkbox
          optional: 0
          default: 0
          help: "Select if vSAN needs to be configured on the Resource Cluster"
        - id: res_vsan_cluster_name
          name: "Cluster name"
          optional: 0
          default: *res_cluster_name
          help: "Cluster to be configured with vSAN."
        - id: res_vsan_datastore_name
          name: "vSAN datastore name"
          optional: 0
          default: "NFV_RES_VSAN_DS"
          help: "All the added ESXi hosts will be able to see the created vSAN Datastore."
        - id: res_vsan_autoclaim_storage
          name: "Auto Claim Storage"
          input: checkbox
          optional: 0
          default: 1
          help: "Autoclaims all storage added to cluster"
      - Cluster Configuration - DRS:
        - id: res_configure_drs
          name: "Enable DRS on cluster"
          input: checkbox
          optional: 0
          default: 0
          help: "Select if DRS needs to be configured on the Resource Cluster"
        - id: res_drs_cluster_name
          name: "Cluster name"
          optional: 0
          default: *res_cluster_name
          help: "Cluster to be configured with DRS."
        - id: res_drs_automation_level
          name: "Automation Level"
          optional: 0
          default: "fullyAutomated"
        - id: res_drs_migration_threshold
          name: "Migration Threshold"
          optional: 0
          default: "2"
        - id: res_drs_vm_automation
          name: "Virtual Machine Automation"
          optional: 0
          default: "Disabled"
        - id: res_drs_power_management
          name: "Power Management"
          optional: 0
          default: "Disabled"
        - id: res_drs_evc_mode
          name: "Enhanced vMotion Compatibility(EVC)"
          optional: 0
          default: "Enabled"
      - Cluster Configuration - HA:
        - id: res_configure_ha
          name: "Enable HA on cluster"
          input: checkbox
          optional: 0
          default: 0
          help: "Select if HA needs to be configured on the Resource Cluster"
        - id: res_ha_cluster_name
          name: "Cluster name"
          optional: 0
          default: *res_cluster_name
          help: "Cluster to be configured with HA."
        - id: res_ha_host_monitoring
          name: "Host Monitoring"
          optional: 0
          default: "Enabled"
        - id: res_ha_admission_control
          name: "Admission Control"
          optional: 0
          default: "Enabled"
        - id: res_ha_admission_control_policy
          name: "Admission Control Policy"
          optional: 0
          default: "Host failures to tolerate same as Virtual SAN"
        - id: res_ha_vm_monitoring
          name: "VM Monitoring"
          optional: 0
          default: "Disabled"
        - id: res_ha_monitoring_sensitivity
          name: "Monitoring Sensitivity"
          optional: 0
          default: "High"
        - id: res_ha_datastore_heart_beating
          name: "Datastore Heart-beating"
          optional: 0
          default: "Automatically select datastores accessible from the host"
      - VDS Configuration:
        - id: res_vds_name
          name: "Resource VDS"
          optional: 0
          default: "NFV_RES_INFRA_VDS"
          help: "This dvSwitch will be created as the Resource VDS."
        - id: res_vds_uplink_ports
          name: "UpLink Ports"
          optional: 0
          default: "2"
          help: "Number of physical ethernet ports to act as uplinks for this VDS."
        - id: vsan_port_group_name
          name: "Port Group - vSAN"
          optional: 0
          default: &vsan_port_group_name "vDS-vSANNetwork"
        - id: vsan_vlan_id
          name: "vSAN vLan ID"
          optional: 0
          default: &vsan_vlan_id "2095"
        - id: res_esx_mgmt_port_group_name
          name: "Port Group - ESX Management"
          optional: 0
          default: *esx_mgmt_port_group_name
        - id: res_esx_mgmt_port_group_id
          name: "vLan ID for ESX Management Portgroup"
          optional: 0
          default: *esx_mgmt_port_group_id
        - id: res_vm_network_port_group_name
          name: "Port Group - Management Network"
          optional: 0
          default: *vm_network_port_group_name
        - id: res_vm_network_port_group_id
          name: "vLan ID for VM Network Portgroup"
          optional: 0
          default: *vm_network_port_group_id
    - "NSX Configuration":
      - "NSX Network Information":
        - id: deployResIpAddress
          name: "NSX Manager IP address"
          optional: 0
        - id: deployResNetmask
          name: "NSX Manager Subnet"
          optional: 0
        - id: deployResDefaultGateway
          name: "NSX Manager Gateway"
          optional: 0
        - id: deployResDnsServer
          name: "NSX Manager DNS server"
          optional: 0
        - id: deployResDnsDomain
          name: "NSX Manager Domain name"
          optional: 0
        - id: deployResNtpServers
          name: "NSX Manager NTP server ip address"
          optional: 0
      - "NSX VM Information":
        - id: deployResVmName
          name: "NSX Manager Host Name"
          optional: 0
          default: "Res-nsx"
        - id: nsxResCliPass
          name: "NSX Manager cli password"
          optional: 0
          input: password
        - id: nsxResEnPass
          name: "NSX Manager enable password"
          optional: 0
          input: password
      - "NSX Configure vCenter Information":
        - id: resvcHostname
          name: "vCenter Hostname"
          default: *res_vcenter_fqdn
          optional: 0
        - id: resvcIpAddress
          name: "vCenter Ip address"
          optional: 0
          default: *res_vcenter_ip_address
        - id: resvcUser
          name: "vCenter Username"
          default: *res_vcenter_username
          optional: 0
        - id: resvcPassword
          name: "vCenter Password"
          optional: 0
          input: password
      - "NSX Configure vCenter SSO":
        - id: resvcSsoHostname
          name: "vCenter SSO hostname"
          optional: 0
        - id: resvcSsoUser
          name: "vCenter SSO Username"
          optional: 0
        - id: resvcSsoPassword
          name: "vCenter SSO password"
          optional: 0
          input: password
      - "NSX Configure Controller vCenter Information":
        - id: targetDatacenterName
          name: "NSX Controller Datacenter"
          optional: 0
          default: *res_datacenter_name
        - id: nsxControllerVcCluster
          name: "NSX Controller Cluster"
          optional: 0
          default: *res_cluster_name
        - id: targetVdsName
          name: "NSX Controller vds name"
          optional: 0
        - id: nsxControllerPortGroup
          name: "NSX Controller Portgroup"
          optional: 0
        - id: nsxControllerDatastore
          name: "NSX Controller Datastore"
          optional: 0
          default: *datastore_name
        - id: controllerDeploySize
          name: "NSX Controller Deployment Size"
          optional: 0
          input: dropdown
          options:
            - id: "small"
            - id: "medium"
            - id: "large"
          default: "large"
          hide: 1
        - id: numControllers
          name: "Number of Controllers"
          optional: 0
          input: dropdown
          options:
            - id: 3
            - id: 1
          default: "3"
        - id: controllerPassword
          name: "Controller Password"
          optional: 0
          input: password
          help: "Password must be at least 12 chars and have a 1 Upper 1 special and 1 number"
      - "NSX Controller IP Pool Information":
        - id: controllerIPpoolStartAddr
          name: "Controller IP Pool Start Address"
          optional: 0
          help: "Enter the START ip range for the controller ip pool"
        - id: controllerIPpoolEndAddr
          name: "Controller IP Pool End Address"
          optional: 0
          help: "Enter the END ip range for the controller ip pool"
        - id: controllerIPpoolPrefix
          name: "Controller IP Pool Prefix"
          optional: 0
          help: "Enter the network prefix ex: 24 for a /24"
        - id: controllerIPpoolGateway
          name: "Controller IP Pool Gateway"
          optional: 0
          help: "Enter the controller ip pool gateway"
        - id: controllerIPpoolSecondDns
          name: "Controller IP Pool Secondary DNS"
          optional: 0
          help: "Enter the Secondary DNS server"
      - "Prepare Host Cluster":
        - id: host_prepare_datacenter_name
          name: Datacenter Name
          optional: 0
        - id: host_prepare_res_cluster_name
          name: "RES Cluster Name"
          optional: 0
        - id: host_prepare_edge_cluster_name
          name: "EDGE Cluster Name"
          optional: 0
      - "NSX VTEP IP Pool Information - EDGE Cluster":
        - id: vtepIPpoolStartAddr
          name: "VTEP Ip Pool Start Address"
          optional: 0
          help: "Enter the START address for the VTEP IP Pool"
        - id: vtepIPpoolEndAddr
          name: "VTEP Ip Pool END Address"
          optional: 0
          help: "Enter the END address for the VTEP IP Pool"
        - id: vtepIPpoolPrefix
          name: "VTEP Ip Pool Prefix"
          optional: 0
          help: "Enter the network prefix ex: 24 for a /24"
        - id: vtepIPpoolGateway
          name: "VTEP Ip Pool Gateway"
          optional: 0
          help: "Enter the VTEP Ip pool gateway"
        - id: vtepIPpoolPrimDns
          name: "VTEP IP Pool Primary DNS"
          optional: 0
          help: "Enter the Primary DNS server"
        - id: vtepIPpoolSecondDns
          name: "VTEP IP Pool Secondary DNS"
          optional: 0
          help: "Enter the Secondary DNS server"
        - id: vtepIPpoolVxlanID
          name: "VLAN ID"
          optional: 0
          help: "Enter VLAN ID"

      - "NSX VTEP IP Pool Information - RES Cluster":
        - id: res_vtepIPpoolStartAddr
          name: "VTEP Ip Pool Start Address"
          optional: 0
          help: "Enter the START address for the VTEP IP Pool"
        - id: res_vtepIPpoolEndAddr
          name: "VTEP Ip Pool END Address"
          optional: 0
          help: "Enter the END address for the VTEP IP Pool"
        - id: res_vtepIPpoolPrefix
          name: "VTEP Ip Pool Prefix"
          optional: 0
          help: "Enter the network prefix ex: 24 for a /24"
        - id: res_vtepIPpoolGateway
          name: "VTEP Ip Pool Gateway"
          optional: 0
          help: "Enter the VTEP Ip pool gateway"
        - id: res_vtepIPpoolPrimDns
          name: "VTEP IP Pool Primary DNS"
          optional: 0
          help: "Enter the Primary DNS server"
        - id: res_vtepIPpoolSecondDns
          name: "VTEP IP Pool Secondary DNS"
          optional: 0
          help: "Enter the Secondary DNS server"
        - id: res_vtepIPpoolVxlanID
          name: "VLAN ID"
          optional: 0
          help: "Enter VLAN ID"

      - "NSX Transport Zone":
        - id: transportZoneName
          name: "Transport Zone Name"
          optional: 0
          help: "Enter the name for the transport zone"
        - id: transportZoneDescription
          name: "Transport Zone Description"
          optional: 0
          help: "Description for the Transport Zone being created"
        - id: defaultControllPlaneMode
          name: "Default Control Plane Mode"
          optional: 0
          default: "UNICAST_MODE"
          hide: 1
          input: dropdown
          options:
            - id: "HYBRID_MODE"
            - id: "MULTICAST_MODE"
            - id: "UNICAST_MODE"
      - "NSX Segment ID":
        - id: segmentIdPoolStart
          name: "Segment ID Pool Start"
          optional: 0
          help: "Enter a Segment ID Pool Start: 5000-16777216"
        - id: segmentIdPoolEnd
          name: "Segment ID Pool End"
          optional: 0
          help: "Enter a Segment ID Pool End: 5000-16777216"
        - id: mcastIsEnabled
          name: "Enable MULTICAST Addressing"
          optional: 0
          default: 0
          hide: 1
          input: checkbox
          help: "Multicast addresses are required only for Hybrid and Multicast control plane modes"
        - id: mcastAddrStart
          name: "Enter Multicast Address Start"
          optional: 1
          hide: 1
          help: "Multicast addresses are required only for Hybrid and Multicast control plane modes: ex: 239.0.0.0"
        - id: mcastAddrEnd
          name: "Enter Multicast Address End"
          optional: 1
          hide: 1
          help: "Multicas addresses are required only for Hybrid and Multicast control plane modes: ex: 239.255.255.255"
      - "NSX Logical Switches":
        - id: logicalSwitchName_1
          name: "Nsx Logical Switch 1"
          optional: 0
          default: &logicalSwitchName_1 "internal-switch"
        - id: logicalSwitchDescription_1
          name: "Logical Switch description 1"
          optional: 0
        - id: logicalSwitchName_2
          name: "Nsx Logical Switch 2"
          optional: 0
          default: &logicalSwitchName_2 "uplink-switch"
        - id: logicalSwitchDescription_2
          name: "Logical Switch description 2"
          optional: 0
      - "NSX Logical Distributed Router":
        - id: ldrName
          name: "LDR name"
          optional: 0
        - id: ldrDescription
          name: "LDR description"
          optional: 0
        - id: LdrPortgroupName
          name: "LDR Management Portgroup Name"
          optional: 0
        - id: ldrInternalInterfaceName
          name: "Internal Interface Name"
          optional: 0
          default: internal
        - id: ldrInternalSwitchName
          name: "Internal Switch Name"
          optional: 0
          default: *logicalSwitchName_1
        - id: ldrInternalSwitchIPAddress
          name: "Internal Switch IP Address"
          optional: 0
          default: 192.168.100.1
        - id: ldrInternalSwitchSubnetMask
          name: "Internal Switch Subnet Mask"
          optional: 0
          default: 255.255.255.0
        - id: ldrUplinkInterfaceName
          name: "Uplink Interface Name"
          optional: 0
          default: uplink
        - id: ldrUplinkSwitchName
          name: "Uplink Switch Name"
          optional: 0
          default: *logicalSwitchName_2
        - id: ldrUplinkSwitchIPAddress
          name: "Uplink Switch IP Address"
          optional: 0
          default: &ldrUplinkSwitchIPAddress "192.168.200.10"
        - id: ldrUplinkSwitchSubnetMask
          name: "Uplink Switch Subnet Mask"
          optional: 0
          default: 255.255.255.0

      - "Configure OSPF Logical Distributed Router":
        - id: protocol_address
          name: "Protocol Address"
          optional: 0
          default: 192.168.200.11
          help: In range of Uplink Switch IP Address

      - "NSX Edge Services Gateway":
        - id: EdgeRouterName
          name: "Edge Router name"
          optional: 0
        - id: EdgeRouterDescription
          name: "Edge Router description"
          optional: 0
        - id: EdgeInternalVnicIndex
          name: "Edge Router internal VNIC Index"
          optional: 0
          default: 0
        - id: EdgeInternalVnicName
          name: "Internal VNIC Name"
          optional: 0
          default: vnic0
        - id: EdgeInternalSwitchName
          name: "Edge Internal Switch Name"
          optional: 0
          default: *logicalSwitchName_2
          help: Uplink Switch name of DLR
        - id: EdgeInternalSwitchIPAddress
          name: "Edge Internal Switch IP Address"
          optional: 0
          default: 192.168.200.1
        - id: ldrInternalSwitchSubnetPrefix
          name: "Edge Internal Switch Subnet Prefix"
          optional: 0
          default: 24
        - id: EdgeUplinkVnicIndex
          name: "Edge Router Uplink VNIC Index"
          optional: 0
          default: 1
        - id: EdgeUplinkVnicName
          name: "EdgeUplink VNIC Name"
          optional: 0
          default: vnic1
        - id: EdgeUplinkSwitchName
          name: "Edge Uplink Switch Name"
          optional: 0
        - id: EdgeUplinkSwitchIPAddress
          name: "Edge Uplink Switch IP Address"
          optional: 0
        - id: EdgeUplinkSwitchSubnetPrefix
          name: "Edge Uplink Switch Subnet Prefix"
          optional: 0

      - "Second NSX Edge Services Gateway":
        - id: EdgeRouterName_1
          name: "Edge Router name"
          optional: 0
        - id: EdgeRouterDescription_1
          name: "Edge Router description"
          optional: 0
        - id: EdgeInternalVnicIndex_1
          name: "Edge Router internal VNIC Index"
          optional: 0
          default: 0
        - id: EdgeInternalVnicName_1
          name: "Internal VNIC Name"
          optional: 0
          default: vnic0
        - id: EdgeInternalSwitchName_1
          name: "Edge Internal Switch Name"
          optional: 0
          default: *logicalSwitchName_2
          help: Uplink Switch name of DLR
        - id: EdgeInternalSwitchIPAddress_1
          name: "Edge Internal Switch IP Address"
          optional: 0
          default: 192.168.200.2
        - id: ldrInternalSwitchSubnetPrefix_1
          name: "Edge Internal Switch Subnet Prefix"
          optional: 0
          default: 24
        - id: EdgeUplinkVnicIndex_1
          name: "Edge Router Uplink VNIC Index"
          optional: 0
          default: 1
        - id: EdgeUplinkVnicName_1
          name: "EdgeUplink VNIC Name"
          optional: 0
          default: vnic1
        - id: EdgeUplinkSwitchName_1
          name: "Edge Uplink Switch Name"
          optional: 0
        - id: EdgeUplinkSwitchIPAddress_1
          name: "Edge Uplink Switch IP Address"
          optional: 0
        - id: EdgeUplinkSwitchSubnetPrefix_1
          name: "Edge Uplink Switch Subnet Prefix"
          optional: 0
