  - "vCenter Services - Config":
{% if enable_oob_mgmt_svcs == '1' %}
    - "Out-of-band vCenter":
{% include 'app-specific/oob_vcenter_login.yml' %}

        - id: oob_vcenter_datacenter_name
          name: "Name of datacenter"
          optional: 0
        - id: oob_vcenter_mgmt_esx_cluster
          name: "Management ESX ClusterName"
          optional: 0

      - "Management ESX Cluster":
{% set OOBMGMTESXCOUNT = oob_vcenter_mgmt_esx_count|int %}
{% for oobesx in range(OOBMGMTESXCOUNT) %}
        - id: oob_vcenter_mgmt_esx_server-{{ oobesx }}_url
          name: "ESX Server IP or FQDN"
          optional: 0
        - id: oob_vcenter_mgmt_esx_server-{{ oobesx }}_username
          name: "ESX Server username"
          optional: 0
        - id: oob_vcenter_mgmt_esx_server-{{ oobesx }}_password
          name: "ESX Server User password"
          optional: 0
          input: password
{% endfor %}

    - "In-band vCenter":
{% include 'app-specific/ib_vcenter_login.yml' %}

        - id: ib_vcenter_datacenter_name
          name: "Name of datacenter"
          optional: 0
        - id: ib_vcenter_mgmt_esx_cluster
          name: "Management ESX Cluster Name"
          optional: 0

{% if deploy_nsx == '1' %}
        - id: ib_vcenter_nsxedge_esx_cluster
          name: "NSX Edge ESX Cluster Name"
          optional: 0
{% endif %}

{% set COMPUTECLUSTERCOUNT = compute_esx_cluster_count|int %}
{% for compcluster in range(COMPUTECLUSTERCOUNT) %}
        - id: ib_vcenter_compute_cluster_name
          name: "Compute ESX Cluster Name - {{ compcluster }}"
          optional: 0
{% endfor %}

      - "Management ESX Cluster":
{% set IBMGMTESXCOUNT = ib_vcenter_mgmt_esx_count|int %}
{% for ibesx in range(IBMGMTESXCOUNT) %}
        - id: ib_vcenter_mgmt_esx_server-{{ ibesx }}_url
          name: "ESX Server IP or FQDN"
          optional: 0
        - id: ib_vcenter_mgmt_esx_server-{{ ibesx }}_username
          name: "ESX Server username"
          optional: 0
        - id: ib_vcenter_mgmt_esx_server-{{ ibesx }}_password
          name: "ESX Server User password"
          optional: 0
          input: password
{% endfor %}

{% if deploy_nsx == '1' %}
      - "NSX Edge ESX Cluster":
{% set NSXEDGEESXCOUNT = nsxedge_esx_count|int %}
{% for nsxesx in range(NSXEDGEESXCOUNT) %}
        - id: esx_server_nsxedge-{{ nsxesx }}_url
          name: "ESX Server IP or FQDN"
          optional: 0
        - id: esx_server_nsxedge-{{ nsxesx }}_username
          name: "ESX Server username"
          optional: 0
        - id: esx_server_nsxedge-{{ nsxesx }}_password
          name: "ESX Server User password"
          optional: 0
          input: password
{% endfor %}
{% endif %}

{% set COMPUTECLUSTERCOUNT = compute_esx_cluster_count|int %}
{% for compcluster in range(COMPUTECLUSTERCOUNT) %}
      - "Compute ESX Cluster - {{ compcluster }}":
{% set COMPUTEESXCOUNT = compute_esx_count|int %}
{% for computeesx in range(COMPUTEESXCOUNT) %}
        - id: esx_server_compute-{{ computeesx }}_url
          name: "ESX Server IP or FQDN"
          optional: 0
        - id: esx_server_compute-{{ computeesx }}_username
          name: "ESX Server username"
          optional: 0
        - id: esx_server_compute-{{ computeesx }}_password
          name: "ESX Server User password"
          optional: 0
          input: password
{% endfor %}
{% endfor %}
{% endif %}
