  - NSX:
    - "NSX Manager":
{% if (deploy_vcenter == '1' and enable_oob_mgmt_svcs == '0') or deploy_vcenter == '0' %}
{% include 'app-specific/ib_vcenter_login.yml' %}
{% endif %}

      - "Deployment Configuration":
        - id: nsxmgr_appliance_name
          name: "Appliance Name"
          optional: 0
        - id: nsxmgr_datastore
          name: "Datastore"
          optional: 0
        - id: nsxmgr_mgmt_portgroup
          name: "Port Group Name"
          optional: 0
{% if (deploy_vcenter == '1' and enable_oob_mgmt_svcs == '0') or deploy_vcenter == '0' %}
        - id: nsxmgr_cluster_deploy
          name: "Target ESX Cluster"
          optional: 0
{% endif %}
        - id: nsxmgr_admin_password
          name: "Admin CLI password"
          optional: 0
          input: password
        - id: nsxmgr_enable_password
          name: "Enable password"
          optional: 0
          input: password
      - "Network":
        - id: nsxmgr_ip_address
          name: "IP Address"
          optional: 0
        - id: nsxmgr_ip_netmask
          name: "IP Netmask"
          optional: 0
        - id: nsxmgr_ip_gateway
          name: "IP Gateway"
          optional: 0
    - "Controllers":
      - "Deployment Configuration":
        - id: nsxcontroller_appliance_name
          name: "Appliance Name"
          optional: 0
        - id: nsxcontroller_datastore
          name: "Datastore"
          optional: 0
        - id: nsxcontroller_admin_password
          name: "Admin Password"
          optional: 0
    - "IP Pools":
      - "Controller":
        - id: nsxcontroller_ippool_name
          name: "Name"
          optional: 0
        - id: nsxcontroller_ippool_gw
          name: "Gateway"
          optional: 0
        - id: nsxcontroller_ippool_prefix
          name: "VLSM Prefix"
          optional: 0
        - id: nsxcontroller_ippool_range_start
          name: "Range Start"
          optional: 0
        - id: nsxcontroller_ippool_range_end
          name: "Range End"
          optional: 0
      - "Edge VTEP":
        - id: nsxedge_vtep_ippool_name
          name: "Name"
          optional: 0
        - id: nsxedge_vtep_ippool_gw
          name: "Gateway"
          optional: 0
        - id: nsxedge_vtep_ippool_prefix
          name: "VLSM Prefix"
          optional: 0
        - id: nsxedge_vtep_ippool_range_start
          name: "Range Start"
          optional: 0
        - id: nsxedge_vtep_ippool_range_end
          name: "Range End"
          optional: 0
    - "Logical Switching":
      - "Transport Zone":
        - id: nsx_transport_zone_name
          name: "Name"
          optional: 0
