  - "vRealize Business":
    - Deployment:
      - id: vrealizeb_ova
        name: "OVA"
        optional: 0
        help: "The vApp Name in vCenter"
      - id: vrealizeb_datastore
        name: "Datastore"
        optional: 0
        input: dropdown
        options: mgmt_vc_datastores
        help: "The datastore on which to place the OVA"
      - id: vrealizeb_network
        name: "Network On Which to Place the OVA"
        optional: 0
        input: dropdown
        options: mgmt_vc_networks
        help: "The Network  on which to place the OVA"
      - id: vrealizeb_name
        name: "VM Name"
        optional: 0
        help: "The VM name for the installed vRealize Business Standard"
      - id: vrb_ssh_enabled
        name:  "VRB Enable SSH"
        optional: 0
        input: dropdown
        options:
          - id: "True"
          - id: "False"
        help: "Enable SSH on vRB"
      - id: vrb_delete
        name:  "Replace VRB if Exists"
        optional: 0
        input: checkbox
        help: "Replace VRB if it exists"
      - id: vrb_poweron
        name: "Power on"
        optional: 0
        input: checkbox
        help: "Power on VRB after deployment"
    - "User Information":
      - id: vrb_default_admin_user
        name: "Admin User"
        optional: 0
        help: "Default User of VRB"
      - id: vrealizeb_itfm_root_password
        name: "Admin User Password"
        optional: 0
        input: password
    - "Networking":
      - id: vrb_address_version
        name: "Address Version"
        optional: 0
        input: dropdown
        options:
          - id: "DEFAULT"
          - id: "STATICV4+AUTOV6"
          - id: "STATICV4+STATICV6"
      - id: vrb_host_name
        name: "Host Name"
        optional: 1
        help: "DNS host name to use for vRealize Business VM"
      - id: vrb_ip_address
        name: "IP Address"
        optional: 0
        help: "IP address to assign to the vRealize Business VM"
      - id: vrb_ip_netmask
        name: "Netmask"
        optional: 1
        help: "IP netmask for the vRealize Business VM"
      - id: vrb_gateway_address
        name: "Default Gateway"
        optional: 1
        help: "Default gateway address for the vRealize Business VM"
      - id: vrb_dns_server1
        name: "DNS Server Address"
        optional: 1
        help: "IP address for the DNS Server vRealize Business VM shoould use"
      - id: vrb_dns_server2
        name: "DNS Server Address"
        optional: 1
        help: "IP address for the DNS Server vRealize Business VM shoould use"
      - id: vrb_ipv6_address
        name: "Ipv6 Address"
        optional: 1
        help: "IPV6  addresse"
      - id: vrb_ipv6_prefix
        name: "Ipv6 Address Prefix"
        optional: 1
        help: "IPV6 Address Prefix"
      - id: vrb_ipv6_gateway
        name: "Ipv6 Gateway"
        optional: 1
        help: "IPV6 Gateway"
    - "VRB HTTP Proxy":
      - id: vrb_http_proxy_server
        name: "HTTP Proxy Server"
        optional: 1
        help: "HTTP Proxy IP Address"
      - id: vrb_http_proxy_port
        name: "HTTP Proxy Port"
        optional: 1
        help: "HTTP Proxy Ports"
      - id: vrb_http_proxy_user
        name: "HTTP Proxy User Name"
        optional: 1
        help: "HTTP Proxy User Name"
      - id: vrb_http_proxy_password
        name: "HTTP Proxy Password"
        optional: 1
        help: "HTTP Proxy Password"
        input: password
    - "VRA SSO":
      - id: vrb_cafe_host
        name: "VRA SSO Host Name"
        optional: 0
        help: "Host Name of VRA"
      - id: vrb_sso_tenant
        name: "VRA SSO Default Tenant"
        optional: 0
        help: "Default Tenant of VRA"
      - id: vrb_sso_admin
        name: "VRA SSO Admin user"
        optional: 0
        help: "Admin User of VRA SSO"
      - id: vrb_sso_password
        name: "VRA SSO Admin Password"
        optional: 0
        help: "Admin Password of VRA SSO"
        input: password
    - "VRB Time Settings":
      - id: vrb_time_sync_mode
        name: "Time Sync Mode"
        optional: 0
        input: dropdown
        options:
          - id: "Disable"
          - id: "Use ESX Host Time"
          - id: "Use Time Server"
      - id: vrb_time_server_1
        name: "Time Server 1"
        optional: 0
        default: None
        help: "Time Server 1"
      - id: vrb_time_server_2
        name: "Time Server 2"
        optional: 0
        default: None
        help: "Time Server 2"
      - id: vrb_time_server_3
        name: "Time Server 3"
        optional: 0
        default: None
        help: "Time Server 3"
      - id: vrb_time_server_4
        name: "Time Server 1"
        optional: 0
        default: None
        help: "Time Server 4"
      - id: vrb_time_server_5
        name: "Time Server 5"
        optional: 0
        default: None
        help: "Time Server 5"
    - "VRB SSL":
      - id: vrb_sslcert_mode
        name: "SSL Certification Mode"
        optional: 0
        input: dropdown
        options:
          - id: "Generate Self Signed Certificate"
          - id: "Import PEM encoded Certificate"
      - id: vrb_sslcert_common_name
        name: "Common Name"
        optional: 0
        help: SSL Cert Common Name
      - id: vrb_sslcert_organization
        name: "Organization"
        optional: 1
        help: Organization
      - id: vrb_sslcert_organizational_unit
        name: "Organizational Unit"
        optional: 1
        help: Organizational Unit
      - id: vrb_sslcert_country
        name: "Country"
        optional: 1
        help: Country
      - id: vrb_sslcert_encoded_key
        name: "RSA Private Key(.pem)"
        optional: 1
        help: RSA Private Key
      - id: vrb_sslcert_encoded_certchain
        name: "Certificates(.pem)"
        optional: 1
        help: Certificates(.pem)
      - id: vrb_sslcert_passphrase
        name: "Private Key Passphrase"
        optional: 1
        help: Private Key Passphrase
