  - "{{ prepare_section_group_header }}:"
    - "{{ prepare_section_header }}:"
      - "{{ prepare_column_header }}:"
        - id: {{ prepare_element_id }}"
          name: {{ prepare_element_name }}"
          optional: {{ prepare_element_optional }}"
