  - "vCenter Services - Deploy":
{% if enable_oob_mgmt_svcs == '1' and psc_appliance_deployment_scheme == 'Dedicated' %}
    - "Out-of-band PSC":
      - "Appliance Configuration":
        - id: oob_psc_appliance_name
          name: "PSC Appliance Name"
          optional: 0
        - id: oob_psc_admin_password
          name: "PSC administrator password"
          input: password
          optional: 0
      - "Appliance Deployment Target":
        - id: oob_psc_deploy_target_url
          name: "ESXi Server FQDN or IP Address"
          optional: 0
        - id: oob_psc_deploy_target_user_name
          name: "ESXi User"
          optional: 0
        - id: oob_psc_deploy_target_user_password
          name: "ESXi User Password"
          optional: 0
          input: password
      - "Storage Configuration":
        - id: oob_psc_esx_datastore
          name: "Datastore"
          optional: 0
        - id: oob_psc_appliance_thin_disk_mode
          name: "Thin Disk Mode"
          optional: 0
          input: checkbox
      - "Network Configuration":
        - id: oob_psc_esx_portgroup
          name: "Portgroup"
          optional: 0
        - id: oob_psc_ip_address
          name: "IP address"
          optional: 0
        - id: oob_psc_ip_netmask
          name: "IP netmask"
          optional: 0
        - id: oob_psc_ip_gateway
          name: "IP gateway"
          optional: 0
      - "SSO Information":
        - id: oob_psc_sso_domain_name
          name: "SSO Domain Name"
          optional: 0
          default: "vsphere.local"
        - id: oob_psc_sso_site_name
          name: "SSO Site Name"
          optional: 0
          default: "Default-First-Site"
        - id: oob_psc_sso_user_nanme
          name: "SSO Admin User Name"
          optional: 1
          hide: 1
          default: "administrator"
        - id: oob_psc_sso_password
          name: "SSO administrator password"
          input: password
          optional: 0
{% endif %}

{% if enable_oob_mgmt_svcs == '1' %}
    - "Out-of-band vCenter":
      - "Appliance Configuration":
        - id: oob_vcenter_appliance_name
          name: "vCenter Appliance Name"
          optional: 0
        - id: oob_vcenter_deployment_option
          name: "vCenter Deployment Type"
          input: dropdown
          optional: 0
          options:
            - id: tiny
            - id: small
            - id: medium
            - id: large
        - id: oob_vcenter_admin_password
          name: "vCenter administrator password"
          input: password
          optional: 0
      - "Appliance Deployment Target":
        - id: oob_vcenter_deploy_target_url
          name: "ESXi Server FQDN or IP Address"
          optional: 0
        - id: oob_vcenter_deploy_target_user_name
          name: "ESXi User"
          optional: 0
        - id: oob_vcenter_deploy_target_user_password
          name: "ESXi User Password"
          optional: 0
          input: password
      - "Storage Configuration":
        - id: oob_vcenter_esx_datastore
          name: "Datastore"
          optional: 0
        - id: oob_vcenter_appliance_thin_disk_mode
          name: "Thin Disk Mode"
          optional: 0
          input: checkbox
      - "Network Configuration":
        - id: oob_vcenter_esx_portgroup
          name: "Port Group Name"
          optional: 0
        - id: oob_vcenter_ip_address
          name: "IP address"
          optional: 0
        - id: oob_vcenter_ip_netmask
          name: "IP netmask"
          optional: 0
        - id: oob_vcenter_ip_gateway
          name: "IP gateway"
          optional: 0
{% if psc_appliance_deployment_scheme == 'Existing' or psc_appliance_deployment_scheme == 'Dedicated' %}
      - "SSO Information":
        - id: oob_vcenter_psc_appliance_dns_name_manual
          name: "PSC FQDN"
          optional: 0
        - id: oob_vcenter_psc_sso_user_name
          name: "PSC Admin User Name"
          optional: 0
        - id: oob_vcenter_psc_sso_password
          name: "PSC User Password"
          input: password
          optional: 0
{% endif %}
{% if psc_appliance_deployment_scheme == 'Embedded' %}
      - "SSO Information":
        - id: oob_vcenter_embedded_sso_domain_name
          name: "SSO Domain Name"
          optional: 0
        - id: oob_vcenter_embedded_sso_site_name
          name: "SSO Site Name"
          optional: 0
        - id: oob_vcenter_embedded_sso_password
          name: "SSO administrator password"
          input: password
          optional: 0
{% endif %}
{% endif %}

{% if psc_appliance_deployment_scheme == 'Dedicated' %}
    - "In-band PSC":
      - "Appliance Configuration":
        - id: ib_psc_appliance_name
          name: "PSC Appliance Name"
          optional: 0
        - id: ib_psc_admin_password
          name: "PSC administrator password"
          input: password
          optional: 0
{% include 'app-specific/oob_vcenter_login.yml' %}

      - "Storage Configuration":
        - id: ib_psc_esx_datastore
          name: "Datastore"
          optional: 0
        - id: ib_psc_appliance_thin_disk_mode
          name: "Thin Disk Mode"
          optional: 0
          input: checkbox
      - "Network Configuration":
        - id: ib_psc_esx_portgroup
          name: "Port Group Name"
          optional: 0
        - id: ib_psc_ip_address
          name: "IP address"
          optional: 0
        - id: ib_psc_ip_netmask
          name: "IP netmask"
          optional: 0
        - id: ib_psc_ip_gateway
          name: "IP gateway"
          optional: 0
      - "SSO Information":
        - id: ib_psc_sso_domain_name
          name: "SSO Domain Name"
          optional: 0
        - id: ib_psc_sso_site_name
          name: "SSO Site Name"
          optional: 0
        - id: ib_psc_sso_password
          name: "SSO Administrator password"
          input: password
          optional: 0
{% endif %}

    - "In-band vCenter":
      - "Appliance Configuration":
        - id: ib_vcenter_appliance_name
          name: "vCenter Appliance Name"
          optional: 0
        - id: ib_vcenter_deployment_option
          name: "vCenter Deployment Type"
          input: dropdown
          optional: 0
          options:
            - id: tiny
            - id: small
            - id: medium
            - id: large
        - id: ib_vcenter_admin_password
          name: "vCenter administrator password"
          input: password
          optional: 0
      - "Appliance Deployment Target":
        - id: ib_vcenter_deploy_target_url
          name: "ESXi Server FQDN or IP Address"
          optional: 0
        - id: ib_vcenter_deploy_target_user_name
          name: "ESXi User"
          optional: 0
        - id: ib_vcenter_deploy_target_user_password
          name: "ESXi User Password"
          optional: 0
          input: password
      - "Storage Configuration":
        - id: ib_vcenter_esx_datastore
          name: "Datastore"
          optional: 0
        - id: ib_vcenter_appliance_thin_disk_mode
          name: "Thin Disk Mode"
          optional: 0
          input: checkbox
      - "Network Configuration":
        - id: ib_vcenter_esx_portgroup
          name: "Port Group Name"
          optional: 0
        - id: ib_vcenter_ip_address
          name: "IP address"
          optional: 0
        - id: ib_vcenter_ip_netmask
          name: "IP netmask"
          optional: 0
        - id: ib_vcenter_ip_gateway
          name: "IP gateway"
          optional: 0
{% if psc_appliance_deployment_scheme == 'Existing' or psc_appliance_deployment_scheme == 'Dedicated' %}
      - "SSO Information":
        - id: ib_vcenter_psc_appliance_dns_name_manual
          name: "PSC FQDN"
          optional: 0
        - id: ib_vcenter_psc_sso_password
          name: "PSC Administrator password"
          input: password
          optional: 0
{% endif %}
{% if psc_appliance_deployment_scheme == 'Embedded' %}
      - "SSO Information":
        - id: ib_vcenter_embedded_sso_domain_name
          name: "SSO Domain Name"
          optional: 0
        - id: ib_vcenter_embedded_sso_site_name
          name: "SSO Site Name"
          optional: 0
        - id: ib_vcenter_embedded_sso_password
          name: "SSO Administrator password"
          input: password
          optional: 0
{% endif %}
