  - "Cloud-Native Applications":
    - "Application Provisioning":
      - "Remote Docker Registry":
        - id: kube_docker_registry_secret_name
          name: "Name of Kubernetes secret"
          optional: 1
          help: "The value specified should match imagePullSecrets.name property value"
        - id: kube_docker_registry_server
          name: "Docker Registry URL"
          optional: 1
        - id: kube_docker_registry_username
          name: "Docker Registry User"
          optional: 1
        - id: kube_docker_registry_pwd
          name: "Docker Registry Password"
          optional: 1
          input: password
        - id: kube_docker_registry_email
          name: "Docker Registry Email Address"
          optional: 1
      - "Application Files":
{% set KUBEAPPFILES = kube_app_file_count|int %}
{% for n in range(KUBEAPPFILES) %}
        - id: kube_app_file-{{n}}
          name: "Application File"
          input: file
          help: "To upload a file click the checkbox, then the 'File' button. NOTE - THESE FILES ARE NOT UPLOADED TO KUBERNETES IN ORDER"
{% endfor %}
