  - "Cloud Native Infrastructure":
    - "Photon OS":
      - "Targets":
{% set PHOTONOSCOUNT = photonos_instance_count|int %}
{% for n in range(PHOTONOSCOUNT) %}        
        - id: photon_target-{{n}}
          name: "Photon OS Target"
          optional: 0
          help: "DNS A record or IP addresses assigned to the PhotonOS instance"
        - id: photon_targets_root_password
          name: "Root Password"
          input: password
          optional: 0
          default: vmware
          help: "Password for the root account for all targets."
{% endfor %}
    - "Kubernetes Configuration":
      - "General":
        - id: kube_internal_dns_domain
          name: "Intra-cluster DNS domain name"
          optional: 0
          default: "kube.local"
          help: "This is the domain name that will be assigned as the root DNS domain name to all containers."
      - "Management Topology":
        - id: kubernetes_master_node_uri
          name: "Master node IP or DNS A record"
          optional: 0
        - id: enable_kubelet_on_master
          name: "Enable minion services on master"
          optional: 1
          default: 1
          hide: 1
          input: checkbox
          help: "Configures the Kubernetes master to also host containers"
{% set PHOTONOSCOUNT = (photonos_instance_count|int) - 1 %}
{% for n in range(PHOTONOSCOUNT) %}
        - id: kubelet_target-{{n}}_uri
          name: "Kubelet node IP or DNS A record"
          optional: 0
{% endfor %}
      - "Network Design":
        - id: flannel_network_type
          name: "Flannel backend network type"
          optional: 0
          input: dropdown
          options:
            - id: "alloc"
#            - id: "aws-vpc"
#            - id: "gce"
            - id: "host-gw"
            - id: "vxlan"
            - id: "udp"
        - id: flannel_network_with_vlsm
          name: "Subnet for use by flannel"
          optional: 1
          default: "10.254.0.0/16"
        - id: flannel_vlsm_subscope
          name: "Subnet mask for individual per-host networks"
          optional: 1
          default: "24"
        - id: flannel_subnet_min
          name: "Beginning IP range for subnet allocation"
          optional: 1
          default: "10.254.10.0"
        - id: flannel_subnet_max
          name: "Ending IP range for subnet allocation"
          optional: 1
          default: "10.254.200.0"
        - id: flannel_service_port
          name: "Firewall port used to forward UDP or VXLAN traffic"
          optional: 1
          help: "Input required only when UDP or VXLAN is selected as the backend. UDP is normally 8285 and VXLAN is normally 8472"
        - id: flannel_vxlan_vni
          name: "VXLAN VNI"
          optional: 1
          default: "1"
          help: "Input required only when VXLAN is selected as the backend"
        - id: flannel_vxlan_gbp
          name: "Enable VXLAN Group Based Policy"
          optional: 1
          hide: 1
          input: checkbox
          help: "Selection required only when VXLAN is selected as the backend"
        - id: flannel_awsvpc_routeableid
          name: "AWS VPC route table ID"
          optional: 1
          hide: 1
          help: "Selection required only when AWS-VPC is selected as the backend"


