{#
   Copyright 2015 VMware, Inc.

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
#}
  - "vCenter Services":
{% if enable_oob_mgmt_svcs == '1' and psc_appliance_deployment_scheme == 'Dedicated' %}
    - id: oob_psc_ova_deploy
      name: "Deploy out-of-band dedicated PSC"
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcsa.yml create_oob_psc_task"
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcsa.yml prereqs,deploy_vcenter_psc_ova,cleanup"
{% endif %}
{% if (enable_oob_mgmt_svcs == '1' and psc_appliance_deployment_scheme == 'Dedicated') or psc_appliance_deployment_scheme == 'Existing' %}
    - id: oob_vcenter_ova_deploy
      name: "Deploy out-of-band dedicated vCenter"
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcsa.yml create_oob_vcenter_task"
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcsa.yml prereqs,deploy_vcenter_psc_ova,cleanup"
{% endif %}
{% if enable_oob_mgmt_svcs == '1' and psc_appliance_deployment_scheme == 'Embedded' %}
    - id: oob_vcenterpsc_ova_deploy
      name: "Deploy out-of-band vCenter with embedded PSC"
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcsa.yml create_oob_vcenterpsc_task"
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcsa.yml prereqs,deploy_vcenter_psc_ova,cleanup"
{% endif %}

{% if enable_oob_mgmt_svcs == '1' and psc_appliance_deployment_scheme == 'Dedicated' %}
    - id: oob_psc_ova_cleanup
      name: "Destroy out-of-band dedicated PSC"
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcsa.yml create_oob_psc_cleanup_task"
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcsa.yml destroy_appliance"
{% endif %}
{% if (enable_oob_mgmt_svcs == '1' and psc_appliance_deployment_scheme == 'Dedicated') or psc_appliance_deployment_scheme == 'Existing' %}
    - id: oob_vcenter_ova_cleanup
      name: "Destroy out-of-band dedicated vCenter"
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcsa.yml create_oob_vcenter_cleanup_task"
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcsa.yml destroy_appliance"
{% endif %}
{% if enable_oob_mgmt_svcs == '1' and psc_appliance_deployment_scheme == 'Embedded' %}
    - id: oob_vcenterpsc_ova_cleanup
      name: "Destroy out-of-band vCenter with embedded PSC"
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcsa.yml create_oob_vcenterpsc_cleanup_task"
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcsa.yml destroy_appliance"
{% endif %}

{% if psc_appliance_deployment_scheme == 'Dedicated' %}
    - id: ib_psc_ova_deploy
      name: "Deploy in-band dedicated PSC"
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcsa.yml create_ib_psc_task"
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcsa.yml prereqs,deploy_vcenter_psc_ova,cleanup"
{% endif %}
{% if psc_appliance_deployment_scheme == 'Dedicated' or psc_appliance_deployment_scheme == 'Existing' %}
    - id: ib_vcenter_ova_deploy
      name: "Deploy in-band dedicated vCenter"
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcsa.yml create_ib_vcenter_task"
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcsa.yml prereqs,deploy_vcenter_psc_ova,cleanup"
{% endif %}
{% if psc_appliance_deployment_scheme == 'Embedded' %}
    - id: ib_vcenterpsc_ova_deploy
      name: "Deploy in-band vCenter with embedded PSC"
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcsa.yml create_ib_vcenterpsc_task"
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcsa.yml prereqs,deploy_vcenter_psc_ova,cleanup"
{% endif %}

{% if psc_appliance_deployment_scheme == 'Dedicated' %}
    - id: ib_psc_ova_cleanup
      name: "Destroy in-band dedicated PSC"
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcsa.yml create_ib_psc_cleanup_task"
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcsa.yml destroy_appliance"
{% endif %}
{% if psc_appliance_deployment_scheme == 'Dedicated' or psc_appliance_deployment_scheme == 'Existing' %}
    - id: ib_vcenter_ova_cleanup
      name: "Destroy in-band dedicated vCenter"
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcsa.yml create_ib_vcenter_cleanup_task"
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcsa.yml destroy_appliance"
{% endif %}
{% if psc_appliance_deployment_scheme == 'Embedded' %}
    - id: ib_vcenterpsc_ova_cleanup
      name: "Destroy in-band vCenter with embedded PSC"
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcsa.yml create_ib_vcenterpsc_cleanup_task"
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcsa.yml destroy_appliance"
{% endif %}
