{#
   Copyright 2015 VMware, Inc.

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
#}
  - "Deploy vCloud Reference Architecture":
    - id: prepare_environment_for_pxe
      name: "Prepare environment for PXE"
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcloud_nfv_mgmt.yml prepare_environment_for_pxe"
    - id: add_nfs_datastore
      name: "Add NFS Datastore"
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcloud_nfv_mgmt.yml add_nfs_datastore"
    - id: install_management_psc
      name: "Install MGMT PSC"
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcloud_nfv_mgmt.yml create_vc_vars_files"
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcloud_nfv_mgmt.yml prereqs,deploy_psc_ova,cleanup"
    - id: install_management_vcenter
      name: "Install MGMT vCenter"
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcloud_nfv_mgmt.yml create_vc_vars_files"
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcloud_nfv_mgmt.yml prereqs,deploy_vcenter_psc_ova,cleanup"
    - id: configure_management_vcenter
      name: "Create and configure MGMT Cluster for HA,DRS"
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcloud_nfv_mgmt.yml deploy_management_cluster"
    - id: configure_management_nsx
      name: "Install MGMT NSX Manager"
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcloud_nfv_mgmt.yml create_mgmt_vars_files"
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcloud_nfv_mgmt.yml deploy_nsx_manager"
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcloud_nfv_mgmt.yml nsx_vc_registration"
    - id: install_resource_psc
      name: "Install PSC(1)"
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcloud_nfv_mgmt.yml create_vc_vars_files"
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcloud_nfv_mgmt.yml prereqs,deploy_res_psc_ova,cleanup"

    - id: install_resource_vcenter
      name: "Install vCenter"
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcloud_nfv_mgmt.yml create_vc_vars_files"
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcloud_nfv_mgmt.yml prereqs,deploy_res_vcenter_psc_ova,cleanup"

    - id: install_sec_resource_psc
      name: "Install PSC(2)"
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcloud_nfv_mgmt.yml create_vc_vars_files"
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcloud_nfv_mgmt.yml prereqs,deploy_second_res_psc_ova,cleanup"

    - id: load_balance_psc
      name: "Load Balance RES PSC's"
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcloud_nfv_mgmt.yml create_mgmt_vars_files"
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcloud_nfv_mgmt.yml vsphere_facts,load_balance_res_psc"
    - id: install_edge_cluster
      name: "Create and configure Edge Cluster"
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcloud_nfv_mgmt.yml create_vars_files"
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcloud_nfv_mgmt.yml deploy_edge_cluster"
    - id: configure_resource_vcenter
      name: "Create and configure RES Cluster for vSAN"
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcloud_nfv_mgmt.yml deploy_resource_cluster"
    - id: configure_resource_nsx
      name: "Install RES NSX Manager"
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcloud_nfv_mgmt.yml create_res_vars_files"
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcloud_nfv_mgmt.yml deploy_res_nsx_manager"
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcloud_nfv_mgmt.yml nsx_res_vc_registration"
    - id: deploy_nsx_controller
      name: "Deploy NSX Controllers"
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcloud_nfv_mgmt.yml create_res_vars_files"
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcloud_nfv_mgmt.yml res_vsphere_facts,edge_controller_moid,deploy_edge_controllers"
    - id: prepare_host
      name: "Prepare RES and EDGE Cluster Hosts for NSX"
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcloud_nfv_mgmt.yml create_res_vars_files"
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcloud_nfv_mgmt.yml prepare_hosts_facts,prepare_hosts"
    - id: configure_nsx_networking
      name: "Logical Network Preparation"
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcloud_nfv_mgmt.yml create_res_vars_files"
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcloud_nfv_mgmt.yml res_vsphere_facts,edge_vsphere_facts,ldr_vsphere_facts,configure_nsx_networking"
    - id: deploy_vcd_tempates
      name: "Deploy SQL and RHEL appliances for vCD"
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcloud_nfv_mgmt.yml deploy_sql,deploy_vcd_cell_0,deploy_vcd_cell_1"
    - id: install_vcd_cell
      name: "Setup vCD"
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcloud_nfv_mgmt.yml install_vcd"
    - id: add_vcd_cell
      name: "Add vCD Cells"
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcloud_nfv_mgmt.yml add_vcd_cells"
    - id: load_balance_vcd
      name: "Load Balance vCD Cells"
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcloud_nfv_mgmt.yml create_mgmt_vars_files"
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcloud_nfv_mgmt.yml nsx_load_balancer_vcd"
    - id: logical_configuration_vcd
      name: "Configure vCD"
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcloud_nfv_mgmt.yml register_vc_and_nsx,provider_vdc,prepare_host,external_network"

