  - "Cloud Native Applications":
    - id: install_apps_in_kube
      name: "Deploy Apps in Kubernetes"
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_kubernetes_play_tags_inventory examples/inventory-kubernetes photon_kube.yml deploy_apps_in_kube"

