{#
   Copyright 2015 VMware, Inc.

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
#}
  - "VIO Deploy":
    - id: deploy_vio
      name: "Deploy VIO OVA"
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vio.yml deploy_vio_ova"
    - id: upgrade_vio
      name: "VIO Upgrade"
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vio_upgrade.yml vio_upgrade"
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vio.yml vio_upgrade_restart"
    - id: config_vio
      name: "Deploy VIO Cluster"
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vio.yml config"
    - id: validate_openstack
      name: "Validate Openstack"
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vio.yml validate_openstack"

