  - "Phase 1":
    - id: install_phase1
      name: "Provision and Configure Phase 1"
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcenter_config.yml prereqs"
{% if enable_oob_mgmt_svcs == '1' and psc_appliance_deployment_scheme == 'Dedicated' %}
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcsa.yml create_oob_psc_task"
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcsa.yml prereqs,deploy_vcenter_psc_ova,cleanup"
{% endif %}
{% if (enable_oob_mgmt_svcs == '1' and psc_appliance_deployment_scheme == 'Dedicated') or psc_appliance_deployment_scheme == 'Existing' %}
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcsa.yml create_oob_vcenter_task"
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcsa.yml prereqs,deploy_vcenter_psc_ova,cleanup"
{% endif %}
{% if enable_oob_mgmt_svcs == '1' and psc_appliance_deployment_scheme == 'Embedded' %}
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcsa.yml create_oob_vcenterpsc_task"
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcsa.yml prereqs,deploy_vcenter_psc_ova,cleanup"
{% endif %}
{% if psc_appliance_deployment_scheme == 'Dedicated' %}
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcsa.yml create_ib_psc_task"
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcsa.yml prereqs,deploy_vcenter_psc_ova,cleanup"
{% endif %}
{% if psc_appliance_deployment_scheme == 'Dedicated' or psc_appliance_deployment_scheme == 'Existing' %}
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcsa.yml create_ib_vcenter_task"
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcsa.yml prereqs,deploy_vcenter_psc_ova,cleanup"
{% endif %}
{% if psc_appliance_deployment_scheme == 'Embedded' %}
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcsa.yml create_ib_vcenterpsc_task"
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcsa.yml prereqs,deploy_vcenter_psc_ova,cleanup"
{% endif %}
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcenter_config.yml create_oob_datacenter_create_task"
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcenter_config.yml create_oob_datacenter"
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcenter_config.yml create_oob_clusters"
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcenter_config.yml create_oob_vcenter_dvs"
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcenter_config.yml create_oob_vcenter_portgroups"
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcenter_config.yml create_ib_datacenter_create_task"
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcenter_config.yml create_ib_datacenter"
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcenter_config.yml create_ib_clusters"
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcenter_config.yml create_ib_vcenter_dvs"
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags vcenter_config.yml create_ib_vcenter_portgroups"
