#!/usr/bin/env/python
#
#  Copyright 2015 VMware, Inc.
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#
from jinja2 import Template
import yaml

roles = [ 'vcenter', 'net', 'autodeploy']
answerfile = "{{ chaperone_answer_dir }}/answerfile.yml"

if __name__ == "__main__":
  context = yaml.load(file(answerfile,'r'))
  ib_mgmt_ct = len([v for v in context.keys() if 'ib_vcenter_mgmt_esx_server_name-' in v])
  oob_mgmt_ct = len([v for v in context.keys() if 'oob_vcenter_mgmt_esx_server_name-' in v])
  compute_ct = len([v for v in context.keys() if 'compute_esx_server_name-' in v])
  edge_ct = len([v for v in context.keys() if 'nsxedge_esx_server_name-' in v])

  context['ib_mgmt_hosts'] = []
  for n in range(ib_mgmt_ct):
    try:
      host = {}
      host['mac'] = context.get("ib_vcenter_mgmt_esx_server_mac_address-%d" % n)
      host['name'] = context.get("ib_vcenter_mgmt_esx_server_name-%d" % n)
      host['ip'] = context.get("ib_vcenter_mgmt_esx_server_url-%d" % n)
      host['username'] = context.get("ib_vcenter_mgmt_esx_server_username-%d" % n)
      host['password'] = context.get("ib_vcenter_mgmt_esx_server_password-%d" % n)
    except KeyError:
      pass
    else:
      context['ib_mgmt_hosts'].append(host)

  context['oob_mgmt_hosts'] = []
  for n in range(oob_mgmt_ct):
    try:
      host = {}
      host['mac'] = context.get("oob_vcenter_mgmt_esx_server_mac_address-%d" % n)
      host['name'] = context.get("oob_vcenter_mgmt_esx_server_name-%d" % n)
      host['ip'] = context.get("oob_vcenter_mgmt_esx_server_url-%d" % n)
      host['username'] = context.get("oob_vcenter_mgmt_esx_server_username-%d" % n)
      host['password'] = context.get("oob_vcenter_mgmt_esx_server_password-%d" % n)
    except KeyError:
      pass
    else:
      context['oob_mgmt_hosts'].append(host)

  context['edge_hosts'] = []
  for n in range(edge_ct):
    try:
      host = {}
      host['mac'] = context.get("nsxedge_esx_server_mac_address-%d" % n)
      host['name'] = context.get("nsxedge_esx_server_name-%d" % n)
      host['ip'] = context.get("nsxedge_esx_server_url-%d" % n)
      host['username'] = context.get("nsxedge_esx_server_username-%d" % n)
      host['password'] = context.get("nsxedge_esx_server_password-%d" % n)
    except KeyError:
      pass
    else:
      context['edge_hosts'].append(host)

  context['compute_hosts'] = []
  for n in range(compute_ct):
    host = {}
    try:
      host['mac'] = context.get("compute_esx_server_mac_address-%d" % n)
      host['name'] = context.get("compute_esx_server_name-%d" % n)
      host['ip'] = context.get("compute_esx_server_url-%d" % n)
      host['username'] = context.get("compute_esx_server_username-%d" % n)
      host['password'] = context.get("compute_esx_server_password-%d" % n)
    except KeyError:
      pass
    else:
      context['compute_hosts'].append(host)

  for role in roles:
    template = Template(file("/opt/{{ django_app }}-ansible/roles/%s/defaults/main.yml.j2" % role).read())
    file("/opt/{{ django_app }}-ansible/roles/%s/defaults/main.yml" % role,'w').write(template.render(context))
