#!/usr/bin/env/python
#
#  Copyright 2015 VMware, Inc.
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#
from jinja2 import Template
import yaml
import hiyapyco

roles = [ 'kubernetes_master', 'kubernetes_node' ]
answerfile = "{{ chaperone_answer_dir }}/answerfile.yml"
admin_answerfile = "{{ chaperone_admin_answer_dir }}/answerfile.yml"

if __name__ == "__main__":
  print "Building the Kubernetes inventories"
  context = hiyapyco.load(answerfile,admin_answerfile)

  kubelets_instance_ct = len([v for v in context.keys() if 'kubelet_target-' in v])
  # print "kubelet targets - " % s str(kubelets_instance_ct)
  
  context['kubelet_targets'] = []
  for n in range(kubelets_instance_ct):
    try:
      host = {}
      host['uri'] = context.get('kubelet_target-%d_uri' % n)
    except KeyError:
      pass
    else:
      context['kubelet_targets'].append(host)

  template = Template(file("/opt/{{ django_app }}-ansible/playbooks/photon/templates/inventory-photon_base.j2").read())
  file("/opt/{{ django_app }}-ansible/playbooks/chaperone/examples/inventory-kubernetes",'w').write(template.render(context))

  print "Kubernetes inventories built successfully"