#
#  Copyright 2015 VMware, Inc.
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#
# ---------->>>>>>>>> READ ME <<<<<<<<<<----------------
# All of the property ids should be added to the playbooks/chaperone-ui/ui,yml
# playbook
---
- Prepare:
  - "Chaperone Configuration":
    - "Global Constants":
      - "Infrastructure Services":
        - id: ntp_server
          name: Primary NTP Server
          optional: 0
        - id: dns_server
          name: Primary DNS Server
          optional: 0
        - id: syslog_server
          name: Syslog Server
          optional: 0
        - id: dns_domain_name
          name: DNS Domain Name
          optional: 0
    - "Apps & Services":
      - "Multiple Services":
        - id: deploy_phase1
          name: "Deploy Phase 1"
          optional: 1
          input: checkbox
          help: "Provisions and configures all vCenters"
        - id: deploy_ra
          name: "Deploy vCloud NFV reference architecture"
          optional: 1
          input: checkbox
          help: "Provisions and configures components of the vCloud NFV reference architecture"
      - "Infrastructure Services":
        - id: deploy_ambient
          name: "Ambient Services (NTP/DNS/PXE/etc.)"
          optional: 1
          input: checkbox
        - id: deploy_esx
          name: "ESX"
          optional: 1
          input: checkbox
        - id: deploy_vcenter
          name: "vCenter Server"
          optional: 1
          input: checkbox
        - id: deploy_nsx
          name: "NSX Deploy"
          optional: 1
          input: checkbox
          help: "Select if you want to both deploy and configure NSX Manager. If General>Enable out-of-band vCenter is checked NSX manager will be deployed to the out of band vcenter and registed to the inband vcenter"
      - "Cloud Management Platforms":
        - id: deploy_cna
          name: "Cloud-Native Applications"
          optional: 1
          input: checkbox
        - id: deploy_vio
          name: "VMware Integrated OpenStack"
          optional: 1
          input: checkbox
        - id: deploy_vra
          name: "vRealize Automation"
          optional: 1
          input: checkbox
      - "Infrastructure Applications":
        - id: deploy_vrli
          name: "vRealize Log Insight"
          optional: 1
          input: checkbox
        - id: deploy_vrops
          name: "vRealize Operations"
          optional: 1
          input: checkbox
        - id: deploy_vrb
          name: "vRealize Business"
          optional: 1
          input: checkbox
    - "General":
      - "Out-of-band Management Services":
        - id: enable_oob_mgmt_svcs
          name: "Enable out-of-band vCenter and NSX management services?"
          optional: 0
          input: checkbox
          help: "Select if you want 2 vCenters - one vCenter will be provisioned out-of-band into a single management cluster and a specified number of hosts. A second vCenter will be provisioned in-band into the OOB vCenter management cluster and dedicated management, edge, and compute clusters are created with specified number of hosts per cluster from the ESX section"
      - "vCenter PSC Deployment Scheme":
        - id: psc_appliance_deployment_scheme
          name: "Select the PSC deployment scheme"
          optional: 0
          input: dropdown
          options:
            - id: Existing
            - id: Embedded
            - id: Dedicated
      # Network IP Scheme is hidden as of now as it not applicable until later releases
      - "Network IP Scheme":
        - id: network_ip_scheme
          name: "Select the IP scheme (where applicable)"
          input: dropdown
          optional: 1
          hide: 1
          options:
            - id: DHCP
            - id: Static
      - "Storage Scheme":
        - id: storage_scheme
          name: "Select the storage scheme"
          input: dropdown
          optional: 0
          options:
            - id: NFS
            - id: iSCSI
            - id: VSAN
    - "ESX":
      - "Out-of-band Management Cluster":
        - id: oob_vcenter_mgmt_esx_count
          name: "Number of ESX hosts to provision"
          default: 4
      - "In-band Management Cluster":
        - id: ib_vcenter_mgmt_esx_count
          name: "Number of ESX hosts to provision"
          default: 4
      - "NSX Edge Cluster":
        - id: nsxedge_esx_count
          name: "Number of ESX hosts to provision"
          default: 4
      - "ESX Compute Clusters":
        - id: compute_esx_cluster_count
          name: "Number of compute ESX clusters to provision"
          default: 1
      - "Compute Cluster":
        - id: compute_esx_count
          name: "Number of ESX hosts to provision"
          default: 4
    - "NSX":
      - "Service Gateways":
        - id: nsx_esg_edge_count
          name: "Number of edges to provision"
          default: 1
      - "Logical Routers":
        - id: nsx_lr_edge_count
          name: "Number of edges to provision"
          default: 1
        - id: deploy_nsx_ib_oob
          name: "NSX Deploy To vCenter"
          default: "In Band vCenter"
          optional: 0
          hide: 1
          help: "Select either In Band or Out of band vCenter to deploy NSX manager to"
          input: dropdown
          options:
            - id: "In Band vCenter"
            - id: "Out of Band vCenter"
        - id: configure_nsx_manager
          name: "Configure NSX Manager"
          optional: 0
          default: 0
          hide: 1
          input: checkbox
          help: "Check the box if you want to just configure NSX Manager"
        - id: configure_nsx_ib_oob
          name: "NSX Configure To vCenter"
          default: "In Band vCenter"
          optional: 0
          hide: 1
          help: "Select either In Band or Out of band vCenter to sync NSX manager to"
          input: dropdown
          options:
            - id: "In Band vCenter"
            - id: "Out of Band vCenter"
- Install:
  - Chaperone Configuration:
    - id: config_chaperone
      name: Save Chaperone config
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_play_tags primaryweb.yml uiconfig"
