---
- Prepare:
  - "ESXi Hosts":
    - "Boot Services":
      - DHCP:
        - id: ipallocationpolicy
          name: "IP Allocation Policy"
          optional: 0
          input: dropdown
          help: "DHCP IP Allocation Policy"
          options:
            - id: dhcpPolicy
            - id: staticPolicy
        - id: ipprotocol
          name: "IP Protool"
          optional: 0
          input: dropdown
          help: "DHCP IP protocol to use."
          options:
            - id:  'IPv4'
            - id:  'IPv6'
        - id: dhcp_conf_dest
          name: "DHCP Configuration File"
          optional: 0
          help: "Where to generate the DHCP configuration."
          # '/etc/dhcp/dhcpd.conf'
        - id: dhcp_subnet
          name: Subnet
          optional: 0
          help: "Subnet for DHCP clients."
          # 172.16.0.0
        - id: dhcp_sub_mask
          name: "Subnet mask"
          optional: 0
          # 255.255.0.0
          help: "Subnet mask for DHCP clients."
        - id: dhcp_bast_addr
          name: "Broadcast Address"
          optional: 0
          help: "Broadcast address for DHCP clients."
          # 172.16.255.255
        - id: dhcp_range_a
          name: "Address Range Start"
          optional: 0
          help: "First address of the DHCP client range."
          # 172.16.0.100
        - id: dhcp_range_b
          name: "Address Range End"
          optional: 0
          help: "Last address of the DHCP client range."
          # 172.16.0.150
        - id: dhcp_rout
          name: "Default Route"
          optional: 0
          help: "Default route for DHCP clients."
          # 172.16.0.1
        - id: dom_name_svr
          name: "DNS Server"
          optional: 0
          help: "DNS server for DHCP clients."
          # 172.16.0.1
        - id: dom_name
          name: "DNS Domainname"
          optional: 0
          help: "Domain name for DHCP clients."
          # vmware.local
        - id: dhcp_next
          name: "Boot Image Server"
          optional: 0
          help: "Address of the TFTP server for boot images."
          # 172.16.0.251

      - "TFTP Settings":
        - id: boot_filename
          name: "Boot Image"
          optional: 0
          help: "Boot image file for ESXi hosts."
          #undionly.kpxe.vmw-hardwired
        - id: tftp_root
          name: "Root Directory"
          optional: 0
          help: "Root (Download) Directory"
          # /tftpboot
        - id: tftp_ip
          name: "IP Address"
          optional: 0
          help: "IP Address for ESXi boot images."
          # 172.16.0.251
        - id: tftp_zip
          name: "Temporary Directory"
          optional: 0
          help: "Directory in which to store TFTP zips."
          # '/opt/supervio-ansible/playbooks/supervio/tmp'
        - id: iptables_mods
          name: "IPTables Modules"
          optional: 0
          help: "IP Tables modules to load."
          # ip_conntrack_tftp

    - AutoDeploy:
      - General:
        - id: mem_size
          name: "VM Memory Size"
          optional: 0
          input: dropdown
          help: "RAM (MB) for AutoDeploy VM"
          options:
            - id: "12288"
              name: "12288 MB"
        - id: cli_pass
          name: "PowerCLI Password"
          optional: 0
          help: "Password to use for PowerCLI Commands"
        - id: auto_deploy_src
          name: "Rules Template"
          optional: 0
          help: "Full path to template file for generating the rules script."
        # '/opt/supervio-ansible/roles/audodeploy/templates/windows/auto_rule.ps1'
        - id: auto_deploy_ps
          name: "Rules Script"
          optional: 0
          help: "Full path to file in which to generate the rules script."
        # '/tmp/auto_rule.ps1'

  - "vCenter Server":
    - Appliance:
      - Placement:
        - id: vcsa_datacenter
          name: "NSX Datacenter"
          input: dropdown
          optional: 0
          help: "Datacenter into which to deploy vCenter."
          options: mgmt_vc_datacenter
        - id: vcsa_cluster
          name: "Cluster"
          input: dropdown
          optional: 0
          help: "Cluster into which to deploy vCenter."
          options: mgmt_vc_cluster
        - id: nsx_datastore
          name: 'Datastore'
          input: dropdown
          optional: 0
          help: "Datastore for the VCSA Deployment."
          options: mgmt_vc_datastores
      - Network:
        - id: vcsa_network
          name: "Management Network"
          input: dropdown
          optional: 0
          help: "Management Network for vCenter Communications"
          options: mgmt_vc_networks
        - id: nsx_ntp
          name: "NTP Server"
          optional: 0
          help: "NTP Server for vCenter."
      - Appliance:
        - id: vcsa_ova
          name: "VCSA OVA"
          input: dropdown
          optional: 0
          help: "OVA to use to deploy vCenter Server."
          options:
            - id: 'VMware-NSX-Manager-6.1.4-2691049.ova'
        - id: vcsa_dir
          name: "Temp Directory"
          optional: 0
          help: "Temporary download (local) storage."

  - NSX:
    - Appliance:
      - General:
        - id: nsx_name
          name: 'NSX Manager'
          show: "name, optional"
          optional: 0
          help: "NXS Manager Name"
      - Placement:
        - id: nsx_datacenter
          name: "NSX Datacenter"
          input: dropdown
          optional: 0
          help: "Datacenter into which to deploy NSX"
          options: mgmt_vc_datacenter
        - id: nsx_cluster
          name: "Cluster"
          input: dropdown
          optional: 0
          help: "Cluster into which to deploy NSX"
          options: mgmt_vc_cluster
        - id: nsx_datastore
          name: 'Datastore'
          input: dropdown
          optional: 0
          help: "Datastore for the NSX Deployments"
          options: comp_vc_datastores
      - Network:
        - id: nsx_network
          name: "Management Network"
          input: dropdown
          optional: 0
          help: "Management Network for NSX Communications"
          options: comp_vc_networks
        - id: nsx_ntp
          name: "NTP Server"
          optional: 0
          help: "NTP Server for NSX Servers"
      - OVA:
        - id: nsx_ova
          name: "NSX OVA"
          input: dropdown
          optional: 0
          help: "OVA to use to deploy NXS"
          options:
            - id: 'VMware-NSX-Manager-6.1.4-2691049.ova'
        - id: nsx_dir
          name: "Temp Directory"
          optional: 0
          help: "Temporary download (local) storage"

  - VIO:
    - Appliance:
      - Placement:
        - id: vio_datacenter
          name: "VIO Datacenter"
          input: dropdown
          optional: 0
          help: "Datacenter into which to deploy VIO."
          options: mgmt_vc_datacenter
        - id: vio_cluster
          name: "Cluster"
          input: dropdown
          optional: 0
          help: "Cluster into which to deploy the OVA."
          options: comp_vc_cluster
        - id: vio_ova
          name: "OVA File"
          input: dropdown
          optional: 0
          help: "OVA to use to deploy VIO OMS."
          options:
            - id: 'VMware-NSX-Manager-6.1.4-2691049.ova'
        - id: vio_dir
          name: "Temp Directory"
          optional: 0
          help: "Temporary download (local) storage."
    - "OpenStack Deployment":
      - General:
        - id: vio_datacenter
          name: "VIO Datacenter"
          input: dropdown
          optional: 0
          help: "Datacenter into which to deploy VIO."
          options: mgmt_vc_datacenter
        - id: vio_cluster_mgmt
          name: "Management Cluster"
          input: dropdown
          optional: 0
          help: "Cluster for VIO Compute Services."
          options: comp_vc_cluster
        - id: vio_cluster_mgmt
          name: "Management Cluster"
          input: dropdown
          optional: 0
          help: "Cluster for VIO Management Services."
          options: mgmt_vc_cluster
          # 'Edge-02'
        - id: vio_ova_datastore
          name: 'Datastore'
          input: dropdown
          optional: 0
          help: "Datastore for the VIO OVA Deployment."
          options: comp_vc_datastores
        - id: vio_cluster_compute
          name: "Initial Compute Cluster" 
          input: dropdown
          optional: 0
          help: "Cluster for Nova Compute Nodes."
          options: comp_vc_cluster
          # 'Compute-02'
        - id: vio_comp_datastore
          name: 'Datastore'
          input: dropdown
          optional: 0
          help: "Datastore for the VCSA Deployment."
          options: comp_vc_datastores
      - Network:
        - id: vcsa_network
          name: "Management Network"
          input: dropdown
          optional: 0
          help: "Management Network for vCenter Communications"
          options: mgmt_vc_networks
        - id: nsx_ntp
          name: "NTP Server"
          optional: 0
          help: "NTP Server for vCenter."
      - Appliance:
        - id: vcsa_ova
          name: "VCSA OVA"
          input: dropdown
          optional: 0
          help: "OVA to use to deploy vCenter Server."
          options:
            - id: 'VMware-NSX-Manager-6.1.4-2691049.ova'
        - id: vcsa_dir
          name: "Temp Directory"
          optional: 0
          help: "Temporary download (local) storage."

- Install:
  - AutoDeploy:
    - id: install_datacenter
      name: "Create vSphere Datacenter"
      commands:
        - "/opt/supervio/supervio_play site_dc.yml"
    - id: install_autodeploy
      name: "Configure Autodeploy"
      commands:
        - "/opt/supervio/supervio_play site_autodeploy.yml"
    - id: install_dhcp
      name: "Enable TFTP and DHCP Services"
      commands:
        - "/opt/supervio/supervio_play site_dhcpd.yml"
    - id: nsx_ova_deploy
      name: "Deoploy NSX to vsphere Configure NSX manager"
      commands:
        - "/opt/supervio/supervio_play site_nsx.yml"

    - NSX:
      - id: install_nsx
        name: "Install and Configure NSX Manager"
        commands:
          - "/opt/supervio/supervio_play site_nsx.yml"
      - id: install_vio
        name: "Deploy VIO"
        commands:
          - "/opt/supervio/supervio_play site_vio.yml"
