#
#  Copyright 2015 VMware, Inc.
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#
---
- Prepare:
  - "Datacenter Configuration":
    - "Datacenter Info":
      - "vCenter Info":
        - id: vcenter_host
          name: "vCenter IP"
          optional: 0
          help: "IP address of vCenter"
        - id: vcenter_user
          name: "vCenter admin USERNAME"
          optional: 0
        - id: vcenter_password
          name: "vCenter admin PASSWORD"
          optional: 0
          input: password
        - id: vcenter_port
          name: "vCenter Port"
          optional: 0
          help: "Port for authentication connection to vCenter"
          default: 443
      - "Datacenter Name":
        - id: datacenter_name
          name: "Name of datacenter"
          optional: 0
          help: "Enter the name of the Datacenter being created ex: VIO-Datacenter"

  - "vRealize Configurations":
    - "Operations Manager":
      - Deployment:
        - id: vrops_ova
          name: "OVA"
          optional: 0
          help: "The name of the OVA file"
        - id: vrops_name
          name: "VM Name"
          optional: 0
          help: "The VM name for the installed vRealize Operations Manager"
        - id: vrops_deployment_option
          name: "Deployment Option"
          optional: 0
          input: dropdown
          help: "Indicates the size of the environment"
          options:
            - id: "small"
            - id: "medium"
            - id: "large"
            - id: "smallrc"
            - id: "largerc"
            - id: "xsmall"
        - id: vrops_poweron
          name: "Power on"
          optional: 0
          input: checkbox
          help: "Whether to power up the vROps instance once deployed."
      - SDDC Info:
        - id: vrops_cluster
          name: "Cluster"
          optional: 0
          input: dropdown
          options: mgmt_vc_cluster
          help: "The cluster to run the OVA"
        - id: vrops_datastore
          name: "Datastore"
          optional: 0
          input: dropdown
          options: mgmt_vc_datastores
          help: "The datastore on which to place the OVA"
        - id: vrops_network
          name: "Network"
          optional: 0
          input: dropdown
          options: mgmt_vc_networks
          help: "The network use for the OVA"
      - "Network Info":
        - id: vrops_gateway
          name: "Gateway"
          optional: 0
          help: "The default gateway address for this VM"
        - id: vrops_dns
          name: "DNS"
          optional: 0
          help: "The domain name server(s) for this VM (comma seperated)"
        - id: vrops_ip
          name: "IP Address"
          optional: 0
          help: "The IP address for this interface"
        - id: vrops_netmask
          name: "Netmask"
          optional: 0
          help: "The netmask or prefix for this interface."

    - "Business":
      - Deployment:
        - id: vrealizeb_ova
          name: "OVA"
          optional: 0
          help: "The vApp Name in vCenter"
        - id: vrealizeb_datastore
          name: "Datastore"
          optional: 0
          help: "The datastore on which to place the OVA"
        - id: vrealizeb_network
          name: "Network"
          optional: 0
          help: "The Network  on which to place the OVA"
        - id: vrealizeb_name
          name: "VM Name"
          optional: 0
          help: "The VM name for the installed vRealize Business Standard"
        - id: vrealizeb_cluster
          name: "Management Cluster"
          optional: 0
        - id: vrealizeb_itfm_root_password
          name: " ITFM Root Password"
          optional: 0
          input: password
- Install:
  - vRealize Operation Manager:
    - id: install_vrops
      name: "Create vRealize Operation Manager"
      commands:
        - "/opt/supersddc/supersddc_play site_vrops.yml"
  - vRealize Business:
    - id: install_vrealizeb
      name: "Create vRealize Business Standard"
      commands:
        - "/opt/supersddc/supersddc_play site_vrealizeb.yml"
