#
#  Copyright 2015 VMware, Inc.
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#
---
- Prepare:
  - "Datacenter Configuration":
    - "Datacenter Info":
      - "vCenter Info":
        - id: vcenter_host
          name: "vCenter IP"
          optional: 0
          help: "IP address of vCenter"
        - id: vcenter_user
          name: "vCenter admin USERNAME"
          optional: 0
        - id: vcenter_password
          name: "vCenter admin PASSWORD"
          optional: 0
          input: password
        - id: vcenter_port
          name: "vCenter Port"
          optional: 0
          help: "Port for authentication connection to vCenter"
          default: 443
      - "Datacenter Name":
        - id: datacenter_name
          name: "Name of datacenter"
          optional: 0
          help: "Enter the name of the Datacenter being created ex: VIO-Datacenter"

  - "vRealize Configurations":
    - "Operations Manager":
      - Deployment:
        - id: vrops_ova
          name: "OVA"
          optional: 0
          help: "The name of the OVA file"
        - id: vrops_name
          name: "VM Name"
          optional: 0
          help: "The VM name for the installed vRealize Operations Manager"
        - id: vrops_deployment_option
          name: "Deployment Option"
          optional: 0
          input: dropdown
          help: "Indicates the size of the environment"
          options:
            - id: "small"
            - id: "medium"
            - id: "large"
            - id: "smallrc"
            - id: "largerc"
            - id: "xsmall"
        - id: vrops_poweron
          name: "Power on"
          optional: 0
          input: checkbox
          help: "Whether to power up the vROps instance once deployed."
      - SDDC Info:
        - id: vrops_cluster
          name: "Cluster"
          optional: 0
          input: dropdown
          options: mgmt_vc_cluster
          help: "The cluster to run the OVA"
        - id: vrops_datastore
          name: "Datastore"
          optional: 0
          input: dropdown
          options: mgmt_vc_datastores
          help: "The datastore on which to place the OVA"
        - id: vrops_network
          name: "Network"
          optional: 0
          input: dropdown
          options: mgmt_vc_networks
          help: "The network use for the OVA"
      - "Network Info":
        - id: vrops_gateway
          name: "Gateway"
          optional: 0
          help: "The default gateway address for this VM"
        - id: vrops_dns
          name: "DNS"
          optional: 0
          help: "The domain name server(s) for this VM (comma seperated)"
        - id: vrops_ip
          name: "IP Address"
          optional: 0
          help: "The IP address for this interface"
        - id: vrops_netmask
          name: "Netmask"
          optional: 0
          help: "The netmask or prefix for this interface."
      - "Initialization":
        - id: vrops_cluster_name
          name: "Initial Cluster Name"
          optional: 0
          help: "The inital operations manager cluster name"
        - id: vrops_slice_name
          name: "Initial Slice Name"
          optional: 0
          help: "The inital operations manager slice name"
        - id: vrops_license_key
          name: "Licence Key"
          optional: 0
          help: "Product Licence Key"
 
    - "Business":
      - Deployment:
        - id: vrealizeb_ova
          name: "OVA"
          optional: 0
          help: "The vApp Name in vCenter"
        - id: vrealizeb_datastore
          name: "Datastore"
          optional: 0
          help: "The datastore on which to place the OVA"
        - id: vrealizeb_network
          name: "Network"
          optional: 0
          help: "The Network  on which to place the OVA"
        - id: vrealizeb_name
          name: "VM Name"
          optional: 0
          help: "The VM name for the installed vRealize Business Standard"
        - id: vrealizeb_cluster
          name: "Management Cluster"
          optional: 0
        - id: vrealizeb_itfm_root_password
          name: " ITFM Root Password"
          optional: 0
          input: password
    - "Automation":
      - Deployment:
        - id: vra_ova_location
          name: "OVA Location"
          optional: 0
          help: "Location of OVA "
        - id: vra_ova
          name: "OVA"
          optional: 0
          help: "The vApp Name in vCenter"
        - id: vra_host_name
          name: "VRA Host Name"
          optional: 0
          help: "Host name for the VRA"
        - id: vra_datastore
          name: "Datastore"
          optional: 0
          help: "The datastore on which to place the OVA"
        - id: vra_network
          name: "Network"
          optional: 0
          help: "The Network  on which to place the OVA"
        - id: vra_name
          name: "VM Name"
          optional: 0
          help: "The VM name for the installed vRealize Automation"
        - id: vra_cluster
          name: "Management Cluster"
          optional: 0
        - id: vra_root_password
          name: " VRA ` Root Password"
          optional: 0
          input: password
        - id: vra_ssh_enabled
          name:  "VRA Enable SSH"
          optional: 0
          input: dropdown
          options:
            - id: "True"
            - id: "False"
        - id: vra_delete
          name:  "Replace VRA if Exists"
          optional: 0
          input: dropdown
          options:
            - id: "True"
            - id: "False"
      - General Configuration:
        - id: vra_instance
          name: "VRA Appliance instance name"
          optional: 0
          help: " VRA Appliance instance name"
        - id: vra_port
          name: "VRA Appliance Port"
          optional: 0
          help: " VRA Appliance Port"
        - id: vra_user
          name: "VRA User"
          optional: 0
          help: " VRA User"

      - Postgres DB  Configuration:
        - id: vra_postgres_host
          name: "VRA Postgres DB host"
          optional: 0
          help: " VRA Appliance instance name"
        - id: vra_postgres_port
          name: "VRA Postgres DB  Port"
          optional: 0
          help: " VRA Postgres DB Port"
        - id: vra_postgres_database
          name: "VRA Postgres Database"
          optional: 0
          help: " VRA Postgres Database"
        - id: vra_postgres_user
          name: "VRA Postgres user"
          optional: 0
          help: " VRA Postgres User"
        - id: vra_postgres_password
          name: "VRA Postgres Password"
          optional: 0
          help: " VRA Postgres Password"
          input: password

    - "Log Insight":
      - Deployment:
        - id: vrli_ova_location
          name: "OVA Directory"
          optional: 0
          help: "The directory containing the vRLI OVA file"
        - id: vrli_ova
          name: "OVA Filename"
          optional: 0
          help: "The name of the vRLI OVA file"
        - id: vrli_host_name
          name: "VRLI Host Name"
          optional: 0
          help: "Host name for the vRLI VM"
        - id: vrli_datastore
          name: "Datastore"
          optional: 0
          help: "The datastore on which to place the OVA"
        - id: vrli_network
          name: "Network"
          optional: 0
          help: "The network on which to place the OVA"
        - id: vrli_gateway
          name: "Gateway"
          optional: 0
          help: "The network gateway to be used by the vRLI VM"
        - id: vrli_dns
          name: "DNS"
          optional: 0
          help: "The domain name server to be used by the vRLI VM"
        - id: vrli_netmask
          name: "Netmask"
          optional: 0
          help: "The subnet mask to be used by the vRLI VM"
        - id: vrli_ip
          name: "IP Address"
          optional: 0
          help: "The IP address to assign the vRLI VM"
        - id: vrli_name
          name: "VM Name"
          optional: 0
          help: "The vRealize Log Insight VM name"
        - id: vrli_cluster
          name: "Management Cluster"
          optional: 0
          help: "The vCenter Cluster in which to place the OVA"
        - id: vrli_root_password
          name: "VRLI Root Password"
          optional: 0
          input: password
        - id: deployment_size
          name: "Deployment Size"
          input: dropdown
          options:
            - id: xsmall
          help: "Determines the CPU and memory resources of the vRLI VM"
        - id: start_vm
          name: "Start VM after deployment"
          input: checkbox
          optional: 0

- Install:
  - vRealize Operation Manager:
    - id: install_vrops
      name: "Install OVA"
      commands:
        - "/opt/supersddc/supersddc_play site_vrops.yml --tags vropsova_deploy"
    - id: vrops_admin_init
      name: "Initialize Admin User"
      commands:
        - "/opt/supersddc/supersddc_play site_vrops.yml --tags vrops_admin_init"
    - id: vrops_cluster_init
      name: "Initialize Cluster"
      commands:
        - "/opt/supersddc/supersddc_play site_vrops.yml --tags vrops_init"
  - vRealize Business:
    - id: install_vrealizeb
      name: "Create vRealize Business Standard"
      commands:
        - "/opt/supersddc/supersddc_play site_vrealizeb.yml"
  - vRealize Automation:
    - id: install_vra
      name: "Create vRealize Automation"
      commands:
        - "/opt/supersddc/supersddc_play_tags site_vra.yml vra_deploy"
    - id: configure_vra
      name: "Configure vRealize Automation"
      commands:
        - "/opt/supersddc/supersddc_play_tags configure_vra.yml vra_configure"
    - id: configure_postgresdb
      name: "Configure Postgres Database"
      commands:
        - "/opt/supersddc/supersddc_play_tags site_vra.yml vra_configure_postgresdb"
  - vRealize Log Insight:
    - id: install_vrli
      name: "Create vRealize Log Insight"
      commands:
        - "/opt/supersddc/supersddc_play site_vrli.yml"
    - id: configure_vlri
      name: "Configure vRealize Log Insight"
      commands:
        - "/opt/supersddc/supersddc_play configure_vrli.yml"
    - id: install_content_packs
      name: "Install Content Packs"
      commands:
       - "/opt/supersddc/supersddc_play content_packs_vrli.yml"
