#
#  Copyright 2015 VMware, Inc.
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#
---
- Prepare:
{% if deploy_phase1 == '1' %}
{% include 'prepare/prepare-vcsa.yml.j2' %}
{% include 'prepare/prepare-vcenter.yml.j2' %}
{% endif %}

# from prepare/prepare-esx.yml.j2
{% if (deploy_phase1 == '0') and (deploy_esx == '1') -%}
{% include 'prepare/prepare-esx.yml.j2' %}
{% endif -%}

{% if (deploy_phase1 == '0') and (deploy_vcenter == '1') -%}
# from prepare/prepare-vcsa.yml.j2
{% include 'prepare/prepare-vcsa.yml.j2' %}
# from prepare/prepare-vcenter.yml.j2
{% include 'prepare/prepare-vcenter.yml.j2' %}
{% endif -%}

# from prepare/prepare-nsx.yml.j2
{% if (deploy_nsx == '1') or (configure_nsx_manager == '1') -%}
{% include 'prepare/prepare-nsx.yml.j2' %}
{% endif -%}

# from prepare/prepare-vio.yml.j2
{% if (deploy_phase1 == '0') and (deploy_vio == '1') -%}
{% include 'prepare/prepare-vio.yml.j2' %}
{% endif -%}

# from prepare/prepare-cna.yml.j2
{% if (deploy_phase1 == '0') and (deploy_cna == '1') -%}
{% include 'prepare/prepare-cna.yml.j2' %}
{% endif -%}

# from prepare/prepare-vrops.yml.j2
{% if (deploy_phase1 == '0') and (deploy_vrops == '1') -%}
{% include 'prepare/prepare-vrops.yml.j2' %}
{% endif -%}

# from prepare/prepare-vra.yml.j2
{% if (deploy_phase1 == '0') and (deploy_vra == '1') -%}
{% include 'prepare/prepare-vra.yml.j2' %}
{% endif -%}

# from prepare/prepare-vrli.yml.j2
{% if (deploy_phase1 == '0') and (deploy_vrli == '1') -%}
{% include 'prepare/prepare-vrli.yml.j2' %}
{% endif -%}

# from prepare/prepare-vrb.yml.j2
{% if (deploy_phase1 == '0') and (deploy_vrb == '1') -%}
{% include 'prepare/prepare-vrb.yml.j2' %}
{% endif -%}

# Installer (action) menus
- Install:
# This provisions and configures the vCenters
{% if deploy_phase1 == '1' %}
{% include 'install/install-phase1.yml.j2' %}
{% endif %}

# from install/install-ambient.yml.j2
{% if (deploy_phase1 == '0') and (deploy_ambient == '1') -%}
{% include 'install/install-ambient.yml.j2' %}
{% endif -%}

# from install/install-esx.yml.j2
{% if (deploy_phase1 == '0') and (deploy_esx == '1') -%}
{% include 'install/install-esx.yml.j2' %}
{% endif -%}

{% if (deploy_phase1 == '0') and (deploy_vcenter == '1') -%}
# from install/install-vcsa.yml.j2
{% include 'install/install-vcsa.yml.j2' %}
# from install/install-vcenter.yml.j2
{% include 'install/install-vcenter.yml.j2' %}
{% endif -%}

# from install/install-nsx.yml.j2
{% if (deploy_nsx == '1') or (configure_nsx_manager == '1') -%}
{% include 'install/install-nsx.yml.j2' %}
{% endif -%}

# from install/install-vio.yml.j2
{% if (deploy_phase1 == '0') and (deploy_vio == '1') -%}
{% include 'install/install-vio.yml.j2' %}
{% endif -%}

# from install/install-cna.yml.j2
{% if (deploy_phase1 == '0') and (deploy_cna == '1') -%}
{% include 'install/install-cna.yml.j2' %}
{% endif -%}

# from install/install-vrops.yml.j2
{% if (deploy_phase1 == '0') and (deploy_vrops == '1') -%}
{% include 'install/install-vrops.yml.j2' %}
{% endif -%}

# from install/install-vra.yml.j2
{% if (deploy_phase1 == '0') and (deploy_vra == '1') -%}
{% include 'install/install-vra.yml.j2' %}
{% endif -%}

# from install/install-vrli.yml.j2
{% if (deploy_phase1 == '0') and (deploy_vrli == '1') -%}
{% include 'install/install-vrli.yml.j2' %}
{% endif -%}

# from install/install-vrb.yml.j2
{% if (deploy_phase1 == '0') and (deploy_vrb == '1') -%}
{% include 'install/install-vrb.yml.j2' %}
{% endif -%}
