#
#  Copyright 2015 VMware, Inc.
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#
---
- Prepare:
  - "vCenter Server":
    - "General Configuration":
      - "Architectural Scheme":
        - id: appliance_deployment_scheme
          name: "Appliance deployment scheme"
          optional: 0
          input: dropdown
          options:
            - id: combined
            - id: psc
            - id: vcsa
          help: "Determines whether to deploy a combined vCSA and PSC or dedicated appliance(s)"
      - "Out-of-band Management vCenter Server":
        - id: vcenter_host
          name: "vCenter hostname"
          optional: 0
          help: "Out-of-band vCenter Server that manages the ESXi host into which vCSA and/or PSC gets deployed."
        - id: vcenter_user
          name: "vCenter Admin User"
          optional: 0
        - id: vcenter_password
          name: "vCenter Admin User Password"
          optional: 0
          input: password
        - id: vcenter_port
          name: "vCenter API Port"
          optional: 0
          default: 443
      - "ESX Deployment Target":
        - id: esx_hostname
          name: "ESXi Host"
          optional: 0
          help: "Host onto which to deploy."
        - id: esx_username
          name: "ESXi User"
          optional: 0
          help: "Host login name."
        - id: esx_password
          name: "ESXi User Password"
          optional: 0
          input: password
          help: "Host login password."
    - "Platform Services Controller":
      - "Storage and Network Configuration (General)":
        - id: esx_datastore
          name: "Datastore"
          optional: 0
          help: "Datastore to deploy the OVA to"
        - id: appliance_thin_disk_mode
          name: "Thin Disk Mode"
          optional: 0
          input: checkbox
          help: "Disk provisioning mode."
        - id: esx_network
          name: "Network"
          optional: 0
          help: "Network name to use for the vCenter NIC (which MUST be set to Ephemeral binding)."
        - id: appliance_networking_mode
          name: "Networking mode"
          input: dropdown
          optional: 0
          options:
            - id: DHCP
            - id: Static
      - "Network Configuration":
        - id: psc_appliance_vcenter_name
          name: "PSC appliance vCenter name"
          optional: 0
          help: "vCenter display name of PSC appliance"
        - id: psc_appliance_domain_name
          name: "PSC domain name"
          optional: 1
          help: "DNS domain suffix for PSC"
        - id: psc_appliance_ip_address
          name: "PSC static IP address"
          optional: 1
          help: "(OPTIONAL) PSC IP address, required when Networking mode is set to static"
        - id: psc_appliance_ip_prefix
          name: "PSC VLSM"
          optional: 1
          help: "(OPTIONAL) PSC variable length subnet mask, required when Networking mode is set to static"
        - id: psc_appliance_ip_gw
          name: "PSC static IP gateway"
          optional: 1
          help: "(OPTIONAL) PSC IP gateway, required when Networking mode is set to static"
        - id: psc_appliance_dns_servers
          name: "PSC DNS servers"
          optional: 1
          help: "(OPTIONAL) PSC DNS server(s), required when Networking mode is set to static"
      - "SSO Information":
        - id: sso_domain_name
          name: "SSO Domain Name"
          optional: 0
          help: "The single sign-on domain name for identity management."
        - id: sso_site_name
          name: "SSO Site Name"
          optional: 0
          help: "The single sign-on site name for identity management."
        - id: sso_password
          name: "SSO administrator password"
          input: password
          optional: 0
          help: "The single sign-on admin password."
      - "Appliance Information":
        - id: psc_appliance_root_password
          name: "PSC administrator password"
          input: password
          optional: 0
          help: "The admin (not SSO admin) password for this PSC instance."
    - "vCenter Server Appliance":
      - "Storage and Network Configuration (General)":
        - id: esx_datastore
          name: "Datastore"
          optional: 0
          help: "Datastore to deploy the OVA to"
        - id: appliance_thin_disk_mode
          name: "Thin Disk Mode"
          optional: 0
          input: checkbox
          help: "Disk provisioning mode."
        - id: esx_network
          name: "Network"
          optional: 0
          help: "Network name to use for the vCenter NIC (which MUST be set to Ephemeral binding)."
        - id: appliance_networking_mode
          name: "Networking mode"
          input: dropdown
          optional: 0
          options:
            - id: DHCP
            - id: Static
      - "Network Configuration":
        - id: vcsa_appliance_vcenter_name
          name: "vCSA vCenter name"
          optional: 0
          help: "vCenter display name of the vCSA instance"
        - id: vcsa_appliance_domain_name
          name: "vCSA domain name"
          optional: 1
          help: "DNS domain suffix of vCSA instance"
        - id: vcsa_appliance_ip_address
          name: "vCSA static IP address"
          optional: 1
          help: "(OPTIONAL) vCSA IP address, required when Networking mode is set to static"
        - id: vcsa_appliance_ip_prefix
          name: "vCSA VLSM"
          optional: 1
          help: "(OPTIONAL) vCSA variable length subnet mask, required when Networking mode is set to static"
        - id: vcsa_appliance_ip_gw
          name: "vCSA static IP gateway"
          optional: 1
          help: "(OPTIONAL) vCSA IP gateway, required when Networking mode is set to static"
        - id: vcsa_appliance_dns_servers
          name: "vCSA DNS Servers"
          optional: 1
          help: "(OPTIONAL) vCSA DNS server(s), required when Networking mode is set to static"
      - "SSO Information":
        - id: psc_appliance_dns_name_manual
          name: "PSC FQDN"
          optional: 1
          help: "PSC FQDN, required for SSO integration. Optional only when deployment architecture is Combined"
        - id: sso_domain_name
          name: "SSO Domain Name"
          optional: 0
          help: "The single sign-on domain name for identity management."
        - id: sso_site_name
          name: "SSO Site Name"
          optional: 0
          help: "The single sign-on site name for identity management."
        - id: sso_password
          name: "SSO administrator password"
          input: password
          optional: 0
          help: "The single sign-on admin password."
      - "Appliance Information":
        - id: appliance_deployment_option
          name: "vCSA Deployment Type"
          input: dropdown
          optional: 0
          options:
            - id: tiny
            - id: small
            - id: medium
            - id: large
          help: "The size for this vCenter appliance."
        - id: vcsa_appliance_root_password
          name: "vCSA administrator password"
          input: password
          optional: 0
          help: "The admin (not SSO admin) password for this vCSA instance."
  - "Datacenter Prep":
    - "Datacenter Info":
      - "vCenter Info":
        - id: vcenter_host
          name: "vCenter IP"
          optional: 0
          help: "IP address of vCenter"
        - id: vcenter_user
          name: "vCenter admin USERNAME"
          optional: 0
        - id: vcenter_password
          name: "vCenter admin PASSWORD"
          optional: 0
          input: password
        - id: vcenter_port
          name: "vCenter Port"
          optional: 0
          help: "Port for authentication connection to vCenter"
          default: 443
        - id: ntp_svr
          name: "NTP server"
          optional: 0
          help: "NTP server for your network"
        - id: hostprofile_name
          name: "Host Profile name"
          optional: 0
          help: "Name the host profile"
      - "Datacenter Name":
        - id: datacenter_name
          name: "Name of datacenter"
          optional: 0
          help: "Enter the name of the Datacenter being created ex: VIO-Datacenter"
        - id: vmo_cider
          name: "vMotion Network cider"
          optional: 0
          help: "EX: 192.168.1.0/24"
        - id: strg_cider
          name: "Storage Network cider"
          optional: 0
          help: "EX: 192.168.2.0/24"
      - "Management Cluster":
        - id: vio_cluster_mgmt
          name: "Management cluster name"
          optional: 0
        - id: mgmt_vsan
          name: "VSAN"
          optional: 0
          input: checkbox
        - id: vio_cluster_mgmt_hosts
          name: "Management Cluster ESXi Hosts"
          optional: 0
          input: multiform
          readonly: 1
          min_items: 1
          items:
          - id: mgmt_esx_name
            name: "ESX hosts name"
            optional: 0
            help: "Management Cluster ESXi hostname"
          - id: mgmt_esx_ip
            name: "ESX hosts ip"
            optional: 0
            help: "Management Cluster ESXi IP address"
          - id: mgmt_esx_mac
            name: "ESX MAC address"
            optional: 0
            help: "Management Cluster ESXi MAC address"
          - id: mgmt_esx_username
            name: "ESX Username"
            optional: 0
            help: "ESX root username"
          - id: mgmt_esx_password
            name: "ESX Password"
            optional: 0
            input: password
            help: "ESX root password"
      - "Edge Cluster":
        - id: vio_cluster_edge
          name: "Edge cluster name"
          optional: 0
        - id: edge_vsan
          name: "VSAN"
          optional: 0
          input: checkbox
        - id: vio_cluster_edge_hosts
          name: "Edge Cluster ESXi Hosts"
          optional: 0
          min_items: 1
          input: multiform
          readonly: 1
          items:
          - id: edge_esx_name
            name: "ESX hosts name"
            optional: 0
            help: "Edge Cluster ESXi hostname"
          - id: edge_esx_ip
            name: "ESX hosts ip"
            optional: 0
            help: "Edge Cluster ESXi IP address"
          - id: edge_esx_mac
            name: "ESX MAC address"
            optional: 0
            help: "Edge Cluster ESXi MAC address"
          - id: edge_esx_username
            name: "ESX Username"
            optional: 0
            help: "ESX root username"
          - id: edge_esx_password
            name: "ESX Password"
            optional: 0
            input: password
            help: "ESX root password"
      - "Compute Cluster":
        - id: vio_cluster_compute
          name: "Compute cluster name"
          optional: 0
        - id: compute_vsan
          name: "VSAN"
          optional: 0
          input: checkbox
        - id: vio_cluster_compute_hosts
          name: "Compute Cluster ESXi Hosts"
          optional: 0
          min_items: 1
          input: multiform
          readonly: 1
          items:
          - id: compute_esx_name
            name: "ESX hosts name"
            optional: 0
            help: "Compute Cluster ESXi hostname"
          - id: compute_esx_ip
            name: "ESX hosts ip"
            optional: 0
            help: "Compute Cluster ESXi IP address"
          - id: compute_esx_mac
            name: "ESX MAC address"
            optional: 0
            help: "Compute Cluster ESXi MAC address"
          - id: compute_esx_username
            name: "ESX username"
            optional: 0
            help: "ESX root username"
          - id: compute_esx_password
            name: "ESX root password"
            optional: 0
            input: password
      - "Add NFS datastore":
        - id: nfs_name
          name: "NFS Datastore name"
          optional: 0
        - id: nfs_host
          name: "NFS host"
          optional: 0
        - id: nfs_path
          name: "NFS path"
          optional: 0
  - "vSphere Integrated Containers":
    - Deploy:
      - "ESXi Target":
        - id: vic_esxi_target
          name: "Host Address"
          optional: 0
          help: "Target ESXi Host Address."

- Install:
  - "Base Server Setup":
    - id: base_services
      name: "Basic Server Setup"
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_play base.yml"
    - id: nfs_services
      name: "Setup NFS Storage"
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_play nfs.yml"
  - "vCenter Services Deployment":
    - id: psc_ova_deploy
      name: "Deploy PSC"
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_play vcsa.yml --tags create_psc_task"
        - "/opt/{{ django_app }}/{{ django_app }}_play vcsa.yml --tags prereqs,debug,psc,cleanup"
    - id: psc_ova_cleanup
      name: "Destroy PSC"
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_play vcsa.yml --tags cleanup_psc"
    - id: vcenter_ova_deploy
      name: "Deploy vCSA"
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_play vcsa.yml --tags create_vcsa_task"
        - "/opt/{{ django_app }}/{{ django_app }}_play vcsa.yml --tags prereqs,debug,vcsa,cleanup"
    - id: vcsa_ova_cleanup
      name: "Destroy vCSA"
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_play vcsa.yml cleanup_vcsa"
    - id: combined_ova_deploy
      name: "Deploy combined vCSA and PSC"
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_play vcsa.yml --tags create_combined_task"
        - "/opt/{{ django_app }}/{{ django_app }}_play vcsa.yml --tags prereqs,debug,combined,cleanup"
    - id: combined_ova_cleanup
      name: "Destroy combined vCSA and PSC"
      commands:
        - "/opt/{{ django_app }}/{{ django_app }}_play vcsa.yml --tags cleanup_combined"
