#!/bin/bash

# Arguments:
# $1: inventory file to use for the play
# $2: playbook (YAML) file

cd /opt/{{ supervio_django_app }}-ansible/playbooks/supercna
echo "------------------------------------------------------------------------"
echo "Running: ansible-playbook -i $1 -v $2"
echo "------------------------------------------------------------------------"
ansible-playbook -i "$1" -v "$2"
