---
- Install:
  - Consul:
    - id: install_base
      name: "Consul Hosts"
      commands:
        - "/opt/supercna/supercna_play inventory.base base.yml"
    - id: install_consul
      name: "Consul Cluster"
      commands:
        - "/opt/supercna/supercna_play inventory consul.yml"
