#
#  Copyright 2015 VMware, Inc.
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#
---
- Prepare:
  - Docker:
    - Swarm:
      - "Consul Server":
        - id: consul_server
          name: "Consul IP Address"
          optional: 0
          help: "IP address of Consul Server -- Any Will Do."
      - "External Consul Server":
        - id: external_consul_server
          name: "External Consul IP Address"
          optional: 0
          help: "IP address of Externally Exposed Consul Server."
    - Bonneville:
      - Directory:
        - id: bonneville_dir
          name: "Bonneville Path"
          optional: 1
          help: "Path to bonneville install files (default: /tmp/bonneville)."
      - Target:
        - id: bonneville_target_host
          name: "ESX Target"
          optional: 0
          help: "IP address of ESX Host for Bonneville install."
      - Name:
        - id: bonneville_docker_name
          name: "VM Name"
          optional: 0
          help: "What to name the Bonneville VM on ESXi."
      - Docker Host:
        - id: bonneville_docker_host
          name: "Docker Engine #1"
          optional: 0
          help: "IP address of Bonneville VM (fill in late)."
      - Port:
        - id: bonneville_docker_port
          name: "Port"
          optional: 0
          help: "Docker API Port on Bonneville VM."

- Consul:
  - Install:
    - id: consul_base
      name: "Consul Hosts"
      commands:
        - "/opt/supercna/supercna_play inventory.base base.yml"
    - id: consul_consul
      name: "Consul Cluster"
      commands:
        - "/opt/supercna/supercna_play inventory consul.yml"

- Photon:
  - Install:
    - id: photon_base
      name: "Photon Base"
      commands:
        - "/opt/supercna/supercna_play inventory.base photon_base.yml"
    - id: photon_docker
      name: "Docker Setup"
      commands:
        - "/opt/supercna/supercna_play inventory photon_docker.yml"

- Bonneville:
  - Install:
    - id: bonneville_install
      name: "Deploy to ESXi"
      commands:
        - "/opt/supercna/supercna_play inventory bonneville_install.yml"

- Swarm:
  - Start:
    - id: photon_swarm_start
      name: "Start Swarm on Photon"
      commands:
        - "/opt/supercna/supercna_play inventory photon_swarm.yml"
    - id: photon_swarm_start_manager
      name: "Start Swarm Manager"
      commands:
        - "/opt/supercna/supercna_play inventory photon_swarm_manager.yml"
    - id: bonneville_swarm_start
      name: "Start Swarm on Bonneville"
      commands:
        - "/opt/supercna/supercna_play inventory bonneville_swarm.yml"

  - Stop:
    - id: photon_swarm_stop
      name: "Stop Swarm"
      commands:
        - "/opt/supercna/supercna_play inventory photon_kill_swarm.yml"

- Graphite API:
  - Install:
    - id: graphite-api_install
      name: "Deploy Graphite API"
      commands:
        - "/opt/supercna/supercna_play inventory graphite_api.yml"

- "General Operations":
  - Security:
    - id: photon_sshkeys
      name: "Rotate SSHKeys"
      commands:
        - "/opt/supercna/supercna_play inventory.base sshkeys.yml"
  - Status:
    - id: status_containers
      name: "Show All Containers"
      commands:
        - "/opt/supercna/supercna_play inventory status_containers_all.yml"
  - Consul:
    - id: consul_ls_keys
      name: "Show Consul Keys/Values"
      commands:
        - "/opt/supercna/supercna_play inventory status_consul_keys.yml"
    - id: consul_members
      name: "Show Consul Members"
      commands:
        - "/opt/supercna/supercna_play inventory status_consul_members.yml"
